Repository acassen/keepalived, changes with the labels that .github/labeler.yml gives for each.
All labels: repository, github, bin, bin_install, documentation, man, man1, man5, samples, source, docker, goodies, keepalived, bfd, check, core, dbus, include, trackers, vrrp, lib, m4, snap-tools, snap, hooks, tests, ci, tools, jason_tracking

vrrp: ignore IPv6 tentative addresses
  keepalived/core/keepalived_netlink.c
Labels: keepalived, core

vrrp: fix persistent FAULT state with use_vmac when interfaces renamed
  keepalived/core/keepalived_netlink.c
  keepalived/vrrp/vrrp.c
  keepalived/vrrp/vrrp_if.c
Labels: keepalived, core, vrrp

vrrp: fix keepalived warning of ipsets specified without iptables
  keepalived/vrrp/vrrp.c
Labels: keepalived, vrrp

build: update git-commit-h before creating tar file
  Makefile.am
Labels: repository

doc: update keepalived.8 re disabling and reenabling SNMP on reload
  doc/man/man8/keepalived.8.in
Labels: documentation, man, man1

doc: add reference to required configuration to comply with RFC 9568
  doc/NOTES
  doc/man/man5/keepalived.conf.5.in
Labels: documentation, man, man5

doc: fix typo in man page
  doc/man/man5/keepalived.conf.5.in
Labels: documentation, man, man5

doc: fix minor layout error
  doc/man/man5/keepalived.conf.5.in
Labels: documentation, man, man5

keepalived-2.3.3
  configure.ac
Labels: repository

snap: when setting LD_LIBRARY_PATH, include previous setting
  snap/snapcraft.yaml
Labels: snap

snap: attempt to fix setting LD_LIBRARY_PATH
  snap/snapcraft.yaml
Labels: snap

snap: Add /lib/$SNAPi_ARCH-linux-gnu to LD_LIBRARY_PATH and extra libraries
  snap/snapcraft.yaml
Labels: snap

snap: fox formatting in snapcraft.yaml
  snap/snapcraft.yaml
Labels: snap

snap: Attempt to fix setting LD_LIBRARY_PATH
  snap/snapcraft.yaml
Labels: snap

snap: another attempt to set LD_LIBRARY_PATH
  snap/snapcraft.yaml
Labels: snap

snap: yet another attempt to get LD_LIBRARY_PATH correct
  snap/snapcraft.yaml
Labels: snap

snap: try and get snap executable to see LD_LIBRARY_PATH
  snap-tools/keepalived-wrapper
  snap/snapcraft.yaml
Labels: snap-tools, snap

snap: Construct and set LD_LIBRARY_PATH
  snap-tools/keepalived-wrapper
Labels: snap-tools

snap: Fix keepalived-wrapper changes
  snap-tools/keepalived-wrapper
Labels: snap-tools

vrrp: handle vrrp fault_init_exit_delay change
  keepalived/vrrp/vrrp.c
Labels: keepalived, vrrp

vrrp: add fault_init_exit_delay moving out of fault
  keepalived/include/vrrp.h
  keepalived/vrrp/vrrp.c
  keepalived/vrrp/vrrp_scheduler.c
Labels: keepalived, include, vrrp

vrrp: add FaultInitExitDelay to SNMP MIB
  doc/KEEPALIVED-MIB.txt
  keepalived/vrrp/vrrp_snmp.c
Labels: documentation, keepalived, vrrp

vrrp: add fault_init_exit_delay to vrrp config
  keepalived/include/vrrp.h
  keepalived/vrrp/vrrp.c
  keepalived/vrrp/vrrp_data.c
  keepalived/vrrp/vrrp_json.c
  keepalived/vrrp/vrrp_parser.c
Labels: keepalived, include, vrrp

vrrp: support fault_init_exit_delay at init
  keepalived/vrrp/vrrp_scheduler.c
Labels: keepalived, vrrp

ipvs: Resolve segfault when reloading with sorry server removed
  keepalived/check/ipwrapper.c
Labels: keepalived, check

Fix build warnings with clang
  keepalived/core/track_process.c
  lib/assert_debug.h
Labels: keepalived, core, lib

build: Add -Wflex-array-member-not-at-end compiler warning
  configure.ac
Labels: repository

lib: update config_warnings.h.in
  lib/config_warnings.h.in
Labels: lib

vrrp: fix track_process warn identified by -Wflex-array-member-not-at-end
  keepalived/core/track_process.c
Labels: keepalived, core

lib: fix clang warning re refeninition of NDEBUG
  lib/assert_debug.h
Labels: lib

vrrp: fix segfault at reload when DBus re-enabled
  keepalived/vrrp/vrrp_dbus.c
Labels: keepalived, vrrp

all: fix resolving group name to gid for scripts
  lib/notify.c
Labels: lib

ipvs: resolve infinity loop when SMTP_CHECKers have 'host' config
  keepalived/check/check_smtp.c
Labels: keepalived, check

all: fix keepalived not coredumping after a reload
  keepalived/bfd/bfd_daemon.c
  keepalived/check/check_daemon.c
  keepalived/vrrp/vrrp_daemon.c
  lib/process.c
  lib/process.h
Labels: keepalived, bfd, check, vrrp, lib

all: properly restore process priorities after a reload
  keepalived/bfd/bfd_daemon.c
  keepalived/check/check_daemon.c
  keepalived/vrrp/vrrp_daemon.c
  keepalived/vrrp/vrrp_dbus.c
  lib/process.c
  lib/process.h
Labels: keepalived, bfd, check, vrrp, lib

vrrp: document and fix specifying iproute_etc_dir and iproute_usr_dir
  doc/man/man5/keepalived.conf.5.in
  keepalived/core/global_data.c
  keepalived/core/global_parser.c
  lib/rttables.c
  lib/rttables.h
Labels: documentation, man, man5, keepalived, core, lib

all: allow specifying iproute_usr_dir even if no iproute2 support
  configure.ac
  lib/rttables.c
Labels: repository, lib

all: include network namespace name when error opening namespace fds
  keepalived/core/namespaces.c
Labels: keepalived, core

all: resolve lang warning when comparing ordering of function addresses
  configure.ac
  lib/config_warnings.h.in
  lib/scheduler.c
  lib/warnings.h
Labels: repository, lib

all: stop repeatedly calling getpid()
  keepalived/bfd/bfd_daemon.c
  keepalived/check/check_daemon.c
  keepalived/core/config_notify.c
  keepalived/core/main.c
  keepalived/core/pidfile.c
  keepalived/core/reload_monitor.c
  keepalived/core/sanitizer.c
  keepalived/core/track_process.c
  keepalived/vrrp/vrrp_daemon.c
  lib/memory.c
  lib/notify.c
  lib/parser.c
  lib/process.c
  lib/process.h
  lib/systemd.c
  lib/utils.c
Labels: keepalived, bfd, check, core, vrrp, lib

.github/labeler.yml:

repository:
  - ./*

github:
  - .github/*
  - .github/**/*

bin:
  - bin/*

bin_install:
  - bin_install/*

documentation:
  - doc/*
  - doc/**/*
  - doc/**/**/*
  - doc/**/**/**/*

man:
   - doc/man/**/*

man1:
  - doc/man/man1/*

man5:
  - doc/man/man5/*

man1:
  - doc/man/man8/*

samples:
  - doc/samples/*

source:
  - doc/source/*
  - doc/source/**/**

docker:
  - docker/*

goodies:
  - goodies/*

keepalived:
  - keepalived/*
  - keepalived/**/*

bfd:
  - keepalived/bfd/*

check:
  - keepalived/check/*

core:
  - keepalived/core/*

dbus:
  - keepalived/dbus/*

include:
  - keepalived/include/*

trackers:
  - keepalived/trackers/*

vrrp:
  - keepalived/vrrp/*

lib:
  - lib/*

m4:
  - m4/*

snap-tools:
  - snap-tools/*

snap:
  - snap/*
  - snap/**/*

hooks:
  - snap/hooks/*

tests:
  - test/*
  - test/**/*

ci:
  - test/ci/*

tools:
  - tools/*
  - tools/**/*

jason_tracking:
  - tools/json_tracking/*
