Repository acassen/keepalived, changes with the labels that .github/labeler.yml gives for each.
All labels: repository, github, bin, bin_install, documentation, man, man1, man5, samples, source, docker, goodies, keepalived, bfd, check, core, dbus, include, trackers, vrrp, lib, m4, snap-tools, snap, hooks, tests, ci, tools, jason_tracking

vrrp: cleanup comment in update_interface_flags()
  keepalived/core/keepalived_netlink.c
Labels: keepalived, core

vrrp: work around missing promiscuous netlink notifications
  keepalived/core/keepalived_netlink.c
  keepalived/include/vrrp_if.h
  keepalived/vrrp/vrrp_vmac.c
Labels: keepalived, core, include, vrrp

Update terminology.rst
  doc/source/terminology.rst
Labels: documentation, source

vrrp: fix ipv6 vrrp in fault state because no ipv4 address
  keepalived/vrrp/vrrp_data.c
Labels: keepalived, vrrp

vrrp: avoid if not else in process_interface_flags_change()
  keepalived/core/keepalived_netlink.c
Labels: keepalived, core

vrrp: restore the vmac ipv6 link-local after flapping
  keepalived/core/keepalived_netlink.c
Labels: keepalived, core

vrrp: log the added ipv6 link-local
  keepalived/vrrp/vrrp_vmac.c
Labels: keepalived, vrrp

core: Add IRWXU etc for umask and update documentation
  doc/man/man5/keepalived.conf.5.in
  keepalived/core/global_parser.c
Labels: documentation, man, man5, keepalived, core

core: correct parameter to inet_stosockaddr()
  keepalived/core/global_data.c
  keepalived/core/global_parser.c
Labels: keepalived, core

bfd: Add multihop option to conform with RFC5883
  doc/man/man5/keepalived.conf.5.in
  keepalived/bfd/bfd_data.c
  keepalived/bfd/bfd_parser.c
  keepalived/bfd/bfd_scheduler.c
  keepalived/include/bfd.h
  keepalived/include/bfd_data.h
Labels: documentation, man, man5, keepalived, bfd, include

bfd: fix using sockaddr_storage with bfd multihop changes
  keepalived/bfd/bfd_parser.c
Labels: keepalived, bfd

vrrp: restore the vmac ipv6 link-local after flapping
  keepalived/core/keepalived_netlink.c
Labels: keepalived, core

vrrp: Fix checking for unicast if no interface specified
  keepalived/vrrp/vrrp.c
Labels: keepalived, vrrp

vrrp: fix ipv6 vrrp in fault state because no ipv4 address
  keepalived/vrrp/vrrp_data.c
Labels: keepalived, vrrp

vrrp: Remove last_ipaddr from alloc_vrrp_vip()
  keepalived/vrrp/vrrp_data.c
Labels: keepalived, vrrp

vrrp: do not replace the ipv6 link-local by the same address
  keepalived/vrrp/vrrp_vmac.c
Labels: keepalived, vrrp

vrrp: fix persistent FAULT state with use_vmac on a down base interface
  keepalived/core/keepalived_netlink.c
Labels: keepalived, core

dbus: fix type of Name property in Interface
  keepalived/dbus/org.keepalived.Vrrp1.Instance.xml
Labels: keepalived, dbus

vrrp: Don't check IPv6 link local addresses are different twice
  keepalived/vrrp/vrrp_vmac.c
Labels: keepalived, vrrp

vrrp: fix non-existent vmac base interface at reload
  keepalived/vrrp/vrrp.c
Labels: keepalived, vrrp

updates
  keepalived/include/vrrp_ipaddress.h
  keepalived/vrrp/vrrp_ipaddress.c
  keepalived/vrrp/vrrp_json.c
Labels: keepalived, include, vrrp

messages
  keepalived/vrrp/vrrp_json.c
Labels: keepalived, vrrp

json-updates
  keepalived/include/vrrp_ipaddress.h
  keepalived/vrrp/vrrp_ipaddress.c
  keepalived/vrrp/vrrp_json.c
Labels: keepalived, include, vrrp

vrrp: cosmetic change in try_up_instance() (1/2)
  keepalived/vrrp/vrrp_scheduler.c
Labels: keepalived, vrrp

vrrp: cosmetic change in down_instance()
  keepalived/vrrp/vrrp_track.c
Labels: keepalived, vrrp

vrrp: cosmetic change in try_up_instance() (2/2)
  keepalived/vrrp/vrrp_scheduler.c
Labels: keepalived, vrrp

vrrp: use instance fault flags instead of a counter
  keepalived/core/keepalived_netlink.c
  keepalived/include/vrrp.h
  keepalived/include/vrrp_scheduler.h
  keepalived/include/vrrp_track.h
  keepalived/trackers/track_file.c
  keepalived/vrrp/vrrp.c
  keepalived/vrrp/vrrp_data.c
  keepalived/vrrp/vrrp_if.c
  keepalived/vrrp/vrrp_scheduler.c
  keepalived/vrrp/vrrp_track.c
  lib/bitops.h
Labels: keepalived, core, include, trackers, vrrp, lib

Update scheduling_algorithms.rst
  doc/source/scheduling_algorithms.rst
Labels: documentation, source

INFINITY_LIFE_TIME
  keepalived/include/vrrp_ipaddress.h
  keepalived/vrrp/vrrp_ipaddress.c
  keepalived/vrrp/vrrp_json.c
Labels: keepalived, include, vrrp

Update keepalived-non-root.service.in
  keepalived/keepalived-non-root.service.in
Labels: keepalived

keepalived-2.2.8
  configure.ac
Labels: repository

spec: Migrate to SPDX license
  keepalived.spec.in
Labels: repository

ipvs: ping check - use consistent ICMP id and fix sequence number
  keepalived/check/check_ping.c
  keepalived/include/check_ping.h
  lib/scheduler.c
  lib/scheduler.h
Labels: keepalived, check, include, lib

github: Add build check with --disable-vmac
  .github/workflows/build.yml
Labels: github

doc: Add documentation for MH and TWOS schedulers
  doc/source/scheduling_algorithms.rst
Labels: documentation, source

all: add per process gprof profiling
  configure.ac
  keepalived/bfd/bfd_daemon.c
  keepalived/check/check_daemon.c
  keepalived/vrrp/vrrp_daemon.c
Labels: repository, keepalived, bfd, check, vrrp

all: add missing code from per process gprof profiling patch
  keepalived/include/global_data.h
Labels: keepalived, include

ipvs: Remove checkers_queue
  keepalived/check/check_api.c
  keepalived/check/check_bfd.c
  keepalived/check/check_daemon.c
  keepalived/check/check_data.c
  keepalived/check/check_dns.c
  keepalived/check/check_file.c
  keepalived/check/check_http.c
  keepalived/check/check_misc.c
  keepalived/check/check_ping.c
  keepalived/check/check_smtp.c
  keepalived/check/check_tcp.c
  keepalived/check/check_udp.c
  keepalived/check/ipwrapper.c
  keepalived/include/check_api.h
  keepalived/include/check_data.h
  keepalived/include/ipwrapper.h
Labels: keepalived, check, include

ipvs: Reduce logging of activating health checkers
  keepalived/check/check_api.c
Labels: keepalived, check

all: resolve empty initializer braces warning with gcc version 13
  keepalived/core/nftables.c
  keepalived/vrrp/vrrp_dbus.c
  keepalived/vrrp/vrrp_if.c
  keepalived/vrrp/vrrp_ipaddress.c
  keepalived/vrrp/vrrp_nftables.c
  keepalived/vrrp/vrrp_parser.c
  keepalived/vrrp/vrrp_scheduler.c
  lib/rttables.c
Labels: keepalived, core, vrrp, lib

.github/labeler.yml:

repository:
  - ./*

github:
  - .github/*
  - .github/**/*

bin:
  - bin/*

bin_install:
  - bin_install/*

documentation:
  - doc/*
  - doc/**/*
  - doc/**/**/*
  - doc/**/**/**/*

man:
   - doc/man/**/*

man1:
  - doc/man/man1/*

man5:
  - doc/man/man5/*

man1:
  - doc/man/man8/*

samples:
  - doc/samples/*

source:
  - doc/source/*
  - doc/source/**/**

docker:
  - docker/*

goodies:
  - goodies/*

keepalived:
  - keepalived/*
  - keepalived/**/*

bfd:
  - keepalived/bfd/*

check:
  - keepalived/check/*

core:
  - keepalived/core/*

dbus:
  - keepalived/dbus/*

include:
  - keepalived/include/*

trackers:
  - keepalived/trackers/*

vrrp:
  - keepalived/vrrp/*

lib:
  - lib/*

m4:
  - m4/*

snap-tools:
  - snap-tools/*

snap:
  - snap/*
  - snap/**/*

hooks:
  - snap/hooks/*

tests:
  - test/*
  - test/**/*

ci:
  - test/ci/*

tools:
  - tools/*
  - tools/**/*

jason_tracking:
  - tools/json_tracking/*
