Repository acassen/keepalived, changes with the labels that .github/labeler.yml gives for each.
All labels: repository, github, bin, bin_install, documentation, man, man1, man5, samples, source, docker, goodies, keepalived, bfd, check, core, dbus, include, trackers, vrrp, lib, m4, snap-tools, snap, hooks, tests, ci, tools, jason_tracking

lib: add file missing from previous commit
  lib/warnings.h
Labels: lib

core: update addattr_l to match current iproute2 code - almost
  keepalived/core/keepalived_netlink.c
Labels: keepalived, core

lib: add micro-second timers to memory allocation debugging
  lib/memory.c
Labels: lib

lib: fix corruption of master-child_pid red black tree
  lib/scheduler.c
Labels: lib

vrrp: on reload only configured track_script name was checked
  keepalived/vrrp/vrrp.c
Labels: keepalived, vrrp

vrrp: allow specifing interval amd timeout to milli-second resolution
  doc/KEEPALIVED-MIB.txt
  doc/man/man5/keepalived.conf.5.in
  keepalived/vrrp/vrrp_data.c
  keepalived/vrrp/vrrp_parser.c
  keepalived/vrrp/vrrp_snmp.c
Labels: documentation, man, man5, keepalived, vrrp

doc: reorder some entries in keepalived.conf(5) man page
  doc/man/man5/keepalived.conf.5.in
Labels: documentation, man, man5

vrrp: Use TIMER_HZ instead of 1000000 for garp/gna interval
  keepalived/vrrp/vrrp_if.c
Labels: keepalived, vrrp

vrrp: On reload with addresses added to VRRP instance send 2nd GARPs
  keepalived/vrrp/vrrp.c
Labels: keepalived, vrrp

vrrp: improve some code indentation so then and else blocks match
  keepalived/vrrp/vrrp_scheduler.c
Labels: keepalived, vrrp

vrrp: merge vrrp instance garp_pending and gna_pending flags
  keepalived/include/vrrp.h
  keepalived/vrrp/vrrp.c
  keepalived/vrrp/vrrp_arp.c
  keepalived/vrrp/vrrp_ndisc.c
  keepalived/vrrp/vrrp_scheduler.c
Labels: keepalived, include, vrrp

vrrp: Correct formatting of GARP interval in config/status dump
  keepalived/vrrp/vrrp_if.c
Labels: keepalived, vrrp

vrrp: Use timer threads for delayed sending of GARPs/GNAs
  keepalived/include/vrrp.h
  keepalived/include/vrrp_arp.h
  keepalived/include/vrrp_if.h
  keepalived/include/vrrp_ipaddress.h
  keepalived/include/vrrp_ndisc.h
  keepalived/include/vrrp_scheduler.h
  keepalived/vrrp/vrrp.c
  keepalived/vrrp/vrrp_arp.c
  keepalived/vrrp/vrrp_data.c
  keepalived/vrrp/vrrp_if.c
  keepalived/vrrp/vrrp_ipaddress.c
  keepalived/vrrp/vrrp_ndisc.c
  keepalived/vrrp/vrrp_scheduler.c
Labels: keepalived, include, vrrp

vrrp: remove aggregation_group field from garp_delay_t structure
  keepalived/include/vrrp_if.h
  keepalived/vrrp/vrrp_if.c
  keepalived/vrrp/vrrp_parser.c
Labels: keepalived, include, vrrp

vrrp: allow garp_group garp_interval to take full range of unsigned values
  keepalived/vrrp/vrrp_parser.c
Labels: keepalived, vrrp

vrrp: only alloc garp delay structure if address family matches
  keepalived/vrrp/vrrp_if.c
Labels: keepalived, vrrp

all: Fix parsing of \xNN in quoted strings
  doc/man/man5/keepalived.conf.5.in
  lib/parser.c
Labels: documentation, man, man5, lib

all: fix parsing of escaped characters in quoted strings
  doc/man/man5/keepalived.conf.5.in
  keepalived/check/check_misc.c
  keepalived/vrrp/vrrp_parser.c
  lib/notify.c
  lib/parser.c
  lib/parser.h
Labels: documentation, man, man5, keepalived, check, vrrp, lib

vrrp: stop using alloc_strvec() for parsing rttables files
  lib/rttables.c
Labels: lib

all: stop "unmatched quotes" warning for quoted strings
  doc/man/man5/keepalived.conf.5.in
  keepalived/check/check_misc.c
  keepalived/check/check_parser.c
  keepalived/core/global_parser.c
  keepalived/vrrp/vrrp_parser.c
  lib/parser.c
  lib/parser.h
Labels: documentation, man, man5, keepalived, check, core, vrrp, lib

configure: Remove -ffile-prefix-map= for repeatible builds
  configure.ac
Labels: repository

configure: fix previous commit
  configure.ac
Labels: repository

all: change checking process name at reload to include not NULL checks
  keepalived/bfd/bfd_daemon.c
  keepalived/check/check_daemon.c
  keepalived/vrrp/vrrp_daemon.c
Labels: keepalived, bfd, check, vrrp

vrrp: Only use dbus_{in,out}_pipe[0] to indicate pipe is closed
  keepalived/vrrp/vrrp_dbus.c
Labels: keepalived, vrrp

all: clear pointers to old data structures freed after reload
  keepalived/bfd/bfd_daemon.c
  keepalived/bfd/bfd_data.c
  keepalived/check/check_daemon.c
  keepalived/check/check_data.c
  keepalived/core/global_data.c
  keepalived/core/main.c
  keepalived/include/bfd_data.h
  keepalived/include/check_data.h
  keepalived/include/global_data.h
  keepalived/include/vrrp_data.h
  keepalived/vrrp/vrrp_daemon.c
  keepalived/vrrp/vrrp_data.c
Labels: keepalived, bfd, check, core, include, vrrp

core: fix error report in json version parser
  keepalived/core/global_parser.c
Labels: keepalived, core

vrrp: use sizeof(buf) rather than MAX_RT_BUF for iproute files
  lib/rttables.c
Labels: lib

ipvs: fix conditional includes of nftables keywords
  keepalived/core/global_parser.c
Labels: keepalived, core

vrrp: update location of iproute config files
  configure.ac
  keepalived/core/global_data.c
  keepalived/core/global_parser.c
  keepalived/include/global_data.h
  lib/rttables.c
Labels: repository, keepalived, core, include, lib

vrrp: Specify protocol for IP addresses that keepalived adds
  configure.ac
  keepalived/include/vrrp_ipaddress.h
  keepalived/vrrp/vrrp_daemon.c
  keepalived/vrrp/vrrp_ipaddress.c
  lib/rttables.c
  lib/rttables.h
Labels: repository, keepalived, include, vrrp, lib

vrrp: General default value if rt_addrprotos does not include keepalived
  keepalived/vrrp/vrrp_ipaddress.c
  lib/rttables.c
  lib/rttables.h
Labels: keepalived, vrrp, lib

vrrp: Add configure option to update /etc/rt_addrprotos
  configure.ac
  keepalived/vrrp/vrrp_daemon.c
  lib/rttables.c
  lib/rttables.h
Labels: repository, keepalived, vrrp, lib

all: fix some build failures
  keepalived/core/global_parser.c
  lib/rttables.c
Labels: keepalived, core, lib

vrrp: always add a keepalived entry to rt_addrprotos is none exists
  configure.ac
  keepalived/vrrp/vrrp_daemon.c
  lib/rttables.c
  lib/rttables.h
Labels: repository, keepalived, vrrp, lib

Fixed "lvs_sync_daemon_inteface" typo
  doc/source/configuration_synopsis.rst
Labels: documentation, source

doc: fix spelling of interface in configuration_synopsis.rst
  doc/source/configuration_synopsis.rst
Labels: documentation, source

doc: add lvs_sync_daemon and mark lvs_sync_daemon_interface deprecated
  doc/source/configuration_synopsis.rst
Labels: documentation, source

doc: use proper footnote for a table
  doc/source/configuration_synopsis.rst
Labels: documentation, source

doc: update specifying paper size for sphinx
  doc/Makefile.am
Labels: documentation

keepalived-2.3.2
  configure.ac
Labels: repository

.github/labeler.yml:

repository:
  - ./*

github:
  - .github/*
  - .github/**/*

bin:
  - bin/*

bin_install:
  - bin_install/*

documentation:
  - doc/*
  - doc/**/*
  - doc/**/**/*
  - doc/**/**/**/*

man:
   - doc/man/**/*

man1:
  - doc/man/man1/*

man5:
  - doc/man/man5/*

man1:
  - doc/man/man8/*

samples:
  - doc/samples/*

source:
  - doc/source/*
  - doc/source/**/**

docker:
  - docker/*

goodies:
  - goodies/*

keepalived:
  - keepalived/*
  - keepalived/**/*

bfd:
  - keepalived/bfd/*

check:
  - keepalived/check/*

core:
  - keepalived/core/*

dbus:
  - keepalived/dbus/*

include:
  - keepalived/include/*

trackers:
  - keepalived/trackers/*

vrrp:
  - keepalived/vrrp/*

lib:
  - lib/*

m4:
  - m4/*

snap-tools:
  - snap-tools/*

snap:
  - snap/*
  - snap/**/*

hooks:
  - snap/hooks/*

tests:
  - test/*
  - test/**/*

ci:
  - test/ci/*

tools:
  - tools/*
  - tools/**/*

jason_tracking:
  - tools/json_tracking/*
