Repository acassen/keepalived, changes with the labels that .github/labeler.yml gives for each.
All labels: repository, github, bin, bin_install, documentation, man, man1, man5, samples, source, docker, goodies, keepalived, bfd, check, core, dbus, include, trackers, vrrp, lib, m4, snap-tools, snap, hooks, tests, ci, tools, jason_tracking

.github/labeler.yml:

repository:
  - ./*

github:
  - .github/*
  - .github/**/*

bin:
  - bin/*

bin_install:
  - bin_install/*

documentation:
  - doc/*
  - doc/**/*
  - doc/**/**/*
  - doc/**/**/**/*

man:
   - doc/man/**/*

man1:
  - doc/man/man1/*

man5:
  - doc/man/man5/*

man1:
  - doc/man/man8/*

samples:
  - doc/samples/*

source:
  - doc/source/*
  - doc/source/**/**

docker:
  - docker/*

goodies:
  - goodies/*

keepalived:
  - keepalived/*
  - keepalived/**/*

bfd:
  - keepalived/bfd/*

check:
  - keepalived/check/*

core:
  - keepalived/core/*

dbus:
  - keepalived/dbus/*

include:
  - keepalived/include/*

trackers:
  - keepalived/trackers/*

vrrp:
  - keepalived/vrrp/*

lib:
  - lib/*

m4:
  - m4/*

snap-tools:
  - snap-tools/*

snap:
  - snap/*
  - snap/**/*

hooks:
  - snap/hooks/*

tests:
  - test/*
  - test/**/*

ci:
  - test/ci/*

tools:
  - tools/*
  - tools/**/*

jason_tracking:
  - tools/json_tracking/*

snap: add staging of libssl3 and libkmod2 packages
  snap/snapcraft.yaml
Labels: snap

parser: resolve a heap buffer overflow
  lib/parser.c
Labels: lib

parser: remove unnecessary check of variable
  lib/parser.c
Labels: lib

ipvs: Remove duplicate virtual servers during config validation
  keepalived/check/check_data.c
  keepalived/check/ipwrapper.c
  keepalived/include/ipwrapper.h
Labels: keepalived, check, include

vrrp: fix instance up without vrrp_scripts
  keepalived/vrrp/vrrp_scheduler.c
Labels: keepalived, vrrp

vrrp: Don't start up VRRP instances before vrrp_startup_delay expires
  keepalived/vrrp/vrrp.c
  keepalived/vrrp/vrrp_scheduler.c
Labels: keepalived, vrrp

vrrp: add vrrp_delay_after_boot global keyword
  doc/man/man5/keepalived.conf.5.in
  keepalived/core/global_parser.c
Labels: documentation, man, man5, keepalived, core

vrrp: stop sending gratuitous ARP before vrrp_startup_delay expires
  keepalived/vrrp/vrrp_scheduler.c
Labels: keepalived, vrrp

config: improve handling of comment stripping and continuation lines
  lib/parser.c
Labels: lib

config: improve handling of parameter substitution
  lib/parser.c
Labels: lib

config: detect lines with NUL characters and ignore them
  lib/parser.c
Labels: lib

parser: add comment re sanitizer false positive
  lib/parser.c
Labels: lib

parser: fix handling ~SEQ with missing close bracket
  lib/parser.c
Labels: lib

configure: fix output formatting for close_range() test
  configure.ac
Labels: repository

vrrp: correct report of MASTER/BACKUP on notify fifo when reload
  keepalived/include/vrrp.h
  keepalived/vrrp/vrrp.c
  keepalived/vrrp/vrrp_track.c
Labels: keepalived, include, vrrp

vrrp: fix check in strict mode that have unicast peers
  keepalived/vrrp/vrrp.c
Labels: keepalived, vrrp

config: add option ${_ENV} to read environment variables
  doc/man/man5/keepalived.conf.5.in
  lib/parser.c
Labels: documentation, man, man5, lib

check: add SNMP variable for number of checkers not run per RS
  doc/KEEPALIVED-MIB.txt
  keepalived/check/check_snmp.c
Labels: documentation, keepalived, check

Make JSON create atomic
  keepalived/vrrp/vrrp_json.c
Labels: keepalived, vrrp

check: send systemd READY even with no runnable config
  keepalived/core/main.c
Labels: keepalived, core

vrrp: log error if fail to update sysctl settings
  keepalived/vrrp/vrrp_if_config.c
Labels: keepalived, vrrp

Add HTTP Basic Authentication support for HTTP_GET and SSL_GET
  doc/samples/keepalived.conf.HTTP_GET.auth
  doc/samples/keepalived.conf.HTTP_GET.auth.simple
  keepalived/check/check_http.c
  keepalived/include/check_http.h
Labels: documentation, samples, keepalived, check, include

vrrp: restore multicast membership on interface up
  keepalived/vrrp/vrrp_if.c
Labels: keepalived, vrrp

feat(vrrp): add unix socket for status queries and health checks
  configure.ac
  doc/man/man5/keepalived.conf.5.in
  keepalived/core/global_data.c
  keepalived/core/global_parser.c
  keepalived/include/global_data.h
  keepalived/include/status_socket.h
  keepalived/vrrp/Makefile.am
  keepalived/vrrp/status_socket.c
  keepalived/vrrp/vrrp_daemon.c
Labels: repository, documentation, man, man5, keepalived, core, include, vrrp

refactor(status_socket): move socket to parent process for unified status
  doc/man/man5/keepalived.conf.5.in
  keepalived/bfd/bfd_daemon.c
  keepalived/bfd/bfd_event.c
  keepalived/check/check_daemon.c
  keepalived/check/ipwrapper.c
  keepalived/core/Makefile.am
  keepalived/core/main.c
  keepalived/core/status_socket.c
  keepalived/include/status_event.h
  keepalived/include/status_socket.h
  keepalived/vrrp/Makefile.am
  keepalived/vrrp/status_socket.c
  keepalived/vrrp/vrrp_daemon.c
  keepalived/vrrp/vrrp_notify.c
Labels: documentation, man, man5, keepalived, bfd, check, core, include, vrrp

build: make OpenSSL pkg-config flags drive header checks and link flags
  configure.ac
Labels: repository

snmp: fix operator precedence
  keepalived/vrrp/vrrp_snmp.c
Labels: keepalived, vrrp

ipvs: recover from missing parent service on ADDDEST/EDITDEST
  keepalived/check/ipvswrapper.c
Labels: keepalived, check

ipvs: do not trust per-vsge "reloaded" mark on LVS_CMD_ADD
  keepalived/check/ipvswrapper.c
Labels: keepalived, check

config: avoid potential buffer overflow in save_config() when config_save_dir is too long
  keepalived/core/config_notify.c
Labels: keepalived, core

parser: avoid potential buffer overflow in init_data() when config_save_dir is too long
  lib/parser.c
Labels: lib

vrrp: avoid reload crash before socket pool setup
  keepalived/vrrp/vrrp.c
  keepalived/vrrp/vrrp_scheduler.c
Labels: keepalived, vrrp

check: resolve heap overflow in HTTP regex partial match
  keepalived/check/check_http.c
  test/.gitignore
  test/Makefile
  test/regex_partial_test.c
Labels: keepalived, check, tests

memory: abort on OOM in STRDUP, STRNDUP and REALLOC
  lib/memory.c
  lib/memory.h
Labels: lib

check: fix MD5 context leak and DNS length check
  keepalived/check/check_dns.c
  keepalived/check/check_http.c
Labels: keepalived, check

vrrp: reset rate-limit flags only after accepting a packet
  keepalived/vrrp/vrrp.c
Labels: keepalived, vrrp

config: fix invalid free and SIGFPE in builtin definitions
  lib/parser.c
Labels: lib

notify: harden script execution environment and quoting
  lib/notify.c
Labels: lib

vrrp: validate VRRPv2 password against the checked length
  keepalived/vrrp/vrrp.c
Labels: keepalived, vrrp

vrrp: handle EVP allocation failure and wipe HMAC key material
  keepalived/vrrp/vrrp_ipsecah.c
Labels: keepalived, vrrp
