Repository acassen/keepalived, changes with the labels that .github/labeler.yml gives for each.
All labels: repository, github, bin, bin_install, documentation, man, man1, man5, samples, source, docker, goodies, keepalived, bfd, check, core, dbus, include, trackers, vrrp, lib, m4, snap-tools, snap, hooks, tests, ci, tools, jason_tracking

vrrp: bound hardware address length in the ARP and NDP senders
  keepalived/vrrp/vrrp_arp.c
  keepalived/vrrp/vrrp_ndisc.c
Labels: keepalived, vrrp

json: correct string escaping and tolerate a NULL string
  lib/json_writer.c
Labels: lib

parser: keep the full 64-bit value in read_unsigned64
  lib/parser.c
Labels: lib

dbus: validate the object path and narrow the CreateInstance vrid
  keepalived/vrrp/vrrp_dbus.c
Labels: keepalived, vrrp

netlink: bound attribute access in the RX filters
  keepalived/core/keepalived_netlink.c
Labels: keepalived, core

vrrp: mask the authentication password in dump and JSON output
  keepalived/vrrp/vrrp_data.c
  keepalived/vrrp/vrrp_json.c
Labels: keepalived, vrrp

vrrp: remove VMAC firewall rules before deleting the link
  keepalived/vrrp/vrrp_vmac.c
Labels: keepalived, vrrp

vrrp: warn when iptables rules cannot be applied
  keepalived/vrrp/vrrp_iptables.c
Labels: keepalived, vrrp

vrrp: validate the BFD event pipe read length
  keepalived/vrrp/vrrp_scheduler.c
Labels: keepalived, vrrp

vrrp: bound interface name copies
  keepalived/vrrp/vrrp_if.c
  keepalived/vrrp/vrrp_iptables_calls.c
Labels: keepalived, vrrp

vrrp: report notify FIFO write errors
  keepalived/vrrp/vrrp_notify.c
Labels: keepalived, vrrp

snmp: reject an out of range instance index
  keepalived/vrrp/vrrp_snmp.c
Labels: keepalived, vrrp

configure.ac: use add_to_var instead of += to append
  configure.ac
Labels: repository

configure.ac: use printf instead of echo -e
  configure.ac
Labels: repository

configure.ac: use the = test operator, not ==
  configure.ac
Labels: repository

configure.ac: use command -v instead of type -p
  configure.ac
Labels: repository

configure.ac: avoid bash substring expansion
  configure.ac
Labels: repository

Resolve warnings and errors identified by gcc 16
  keepalived/trackers/track_file.c
  keepalived/vrrp/vrrp_ip_rule_route_parser.c
  lib/html.c
  lib/parser.c
Labels: keepalived, trackers, vrrp, lib

Check PATH_MAX when resolving track file paths
  keepalived/trackers/track_file.c
Labels: keepalived, trackers

doc: remove Sphinx documentation and its build dependencies
  INSTALL
  configure.ac
  doc/.gitignore
  doc/Makefile.am
  doc/README.sphinx
  doc/doc.play/conf.py
  doc/doc.play/genhash.rst
  doc/doc.play/index.rst
  doc/doc.play/keepalived.conf.rst
  doc/doc.play/keepalived.rst
  doc/doc.play/vertopal.com_genhash.rst
  doc/doc.play/vertopal.com_keepalived.conf.rst
  doc/doc.play/vertopal.com_keepalived.rst
  doc/source/_static/.gitignore
  doc/source/_static/.gitkeep
  doc/source/_templates/.gitignore
  doc/source/_templates/.gitkeep
  doc/source/about.rst
  doc/source/case_study_failover.rst
  doc/source/case_study_healthcheck.rst
  doc/source/case_study_mixing.rst
  doc/source/conf.py
  doc/source/configuration_synopsis.rst
  doc/source/images/software_design.png
  doc/source/index.rst
  doc/source/installing_keepalived.rst
  doc/source/introduction.rst
  doc/source/license.rst
  doc/source/load_balancing_techniques.rst
  doc/source/programs_synopsis.rst
  doc/source/protocol_support.rst
  doc/source/scheduling_algorithms.rst
  doc/source/snmp_support.rst
  doc/source/software_design.rst
  doc/source/terminology.rst
  doc/source/todo.rst
  doc/source/tools/pydoctheme/static/pydoctheme.css
  doc/source/tools/pydoctheme/theme.conf
Labels: repository, documentation, source

doc: Update global README.md
  README.md
Labels: repository

doc: remove coverity related
  README.md
Labels: repository

github: build keepalived explicitly for CodeQL
  .github/workflows/build.yml
  .github/workflows/codeql.yml
Labels: github

github: bump codeql-action to v4
  .github/workflows/codeql.yml
Labels: github

vrrp: avoid sizeof on the side-effecting PTR_CAST macro
  keepalived/vrrp/vrrp_dbus.c
  keepalived/vrrp/vrrp_snmp.c
Labels: keepalived, vrrp

check: fix stack buffer overflow in set_ping_group_range
  keepalived/check/check_ping.c
Labels: keepalived, check

tools: close files via context manager in json_tracking
  tools/json_tracking/make_conf.py
  tools/json_tracking/vrrp_recap
Labels: tools, jason_tracking

vrrp: use a local ifreq for the ethtool link probe
  keepalived/vrrp/vrrp_if.c
Labels: keepalived, vrrp

vrrp: drop redundant always-true comparison in SNMP walk
  keepalived/vrrp/vrrp_snmp.c
Labels: keepalived, vrrp

netlink: log an oversized broadcast address instead of dropping it
  keepalived/core/keepalived_netlink.c
Labels: keepalived, core

track_process: bound the /proc stat parse
  keepalived/core/track_process.c
Labels: keepalived, core

notify: validate resolved symlink target and notify fifo
  lib/notify.c
Labels: lib

check: set CLOEXEC on the IPVS netlink socket
  keepalived/check/libipvs.c
Labels: keepalived, check

netlink: require kernel origin and order the error length check
  keepalived/core/keepalived_netlink.c
Labels: keepalived, core

dbus: deny keepalived methods by default
  keepalived/dbus/org.keepalived.Vrrp1.conf
Labels: keepalived, dbus

smtp: clamp the alert body offset
  keepalived/core/smtp.c
Labels: keepalived, core

parser: fix ${NAME param} substitution when trailing text follows
  lib/parser.c
Labels: lib

vrrp: sign and verify adverts with the auth extension
  keepalived/vrrp/vrrp.c
Labels: keepalived, vrrp

vrrp: parse and validate the auth_hmac extension
  keepalived/vrrp/vrrp_data.c
  keepalived/vrrp/vrrp_parser.c
Labels: keepalived, vrrp

vrrp: document the auth_hmac extension
  doc/man/man5/keepalived.conf.5.in
Labels: documentation, man, man5

.github/labeler.yml:

repository:
  - ./*

github:
  - .github/*
  - .github/**/*

bin:
  - bin/*

bin_install:
  - bin_install/*

documentation:
  - doc/*
  - doc/**/*
  - doc/**/**/*
  - doc/**/**/**/*

man:
   - doc/man/**/*

man1:
  - doc/man/man1/*

man5:
  - doc/man/man5/*

man1:
  - doc/man/man8/*

samples:
  - doc/samples/*

source:
  - doc/source/*
  - doc/source/**/**

docker:
  - docker/*

goodies:
  - goodies/*

keepalived:
  - keepalived/*
  - keepalived/**/*

bfd:
  - keepalived/bfd/*

check:
  - keepalived/check/*

core:
  - keepalived/core/*

dbus:
  - keepalived/dbus/*

include:
  - keepalived/include/*

trackers:
  - keepalived/trackers/*

vrrp:
  - keepalived/vrrp/*

lib:
  - lib/*

m4:
  - m4/*

snap-tools:
  - snap-tools/*

snap:
  - snap/*
  - snap/**/*

hooks:
  - snap/hooks/*

tests:
  - test/*
  - test/**/*

ci:
  - test/ci/*

tools:
  - tools/*
  - tools/**/*

jason_tracking:
  - tools/json_tracking/*
