Repository acassen/keepalived, changes with the labels that .github/labeler.yml gives for each.
All labels: repository, github, bin, bin_install, documentation, man, man1, man5, samples, source, docker, goodies, keepalived, bfd, check, core, dbus, include, trackers, vrrp, lib, m4, snap-tools, snap, hooks, tests, ci, tools, jason_tracking

.github/labeler.yml:

repository:
  - ./*

github:
  - .github/*
  - .github/**/*

bin:
  - bin/*

bin_install:
  - bin_install/*

documentation:
  - doc/*
  - doc/**/*
  - doc/**/**/*
  - doc/**/**/**/*

man:
   - doc/man/**/*

man1:
  - doc/man/man1/*

man5:
  - doc/man/man5/*

man1:
  - doc/man/man8/*

samples:
  - doc/samples/*

source:
  - doc/source/*
  - doc/source/**/**

docker:
  - docker/*

goodies:
  - goodies/*

keepalived:
  - keepalived/*
  - keepalived/**/*

bfd:
  - keepalived/bfd/*

check:
  - keepalived/check/*

core:
  - keepalived/core/*

dbus:
  - keepalived/dbus/*

include:
  - keepalived/include/*

trackers:
  - keepalived/trackers/*

vrrp:
  - keepalived/vrrp/*

lib:
  - lib/*

m4:
  - m4/*

snap-tools:
  - snap-tools/*

snap:
  - snap/*
  - snap/**/*

hooks:
  - snap/hooks/*

tests:
  - test/*
  - test/**/*

ci:
  - test/ci/*

tools:
  - tools/*
  - tools/**/*

jason_tracking:
  - tools/json_tracking/*

ipvs: Use assignment of structures rather than memcpy()
  keepalived/check/ipvswrapper.c
  keepalived/check/libipvs.c
  keepalived/include/ip_vs.h
Labels: keepalived, check, include

ipvs: fix updating stats for SNMP when fetched via socket interface
  keepalived/check/libipvs.c
Labels: keepalived, check

ipvs: Don't duplicate storage of 32 bit SNMP stats
  keepalived/check/ipvswrapper.c
  keepalived/check/libipvs.c
  keepalived/include/ip_vs.h
Labels: keepalived, check, include

ipvs: Use correct variable for returning 64 bit stats for SNMP
  keepalived/check/check_snmp.c
Labels: keepalived, check

ipvs: Add counter64 options for 64 bit SNMP stats
  doc/KEEPALIVED-MIB.txt
  keepalived/check/check_snmp.c
Labels: documentation, keepalived, check

ipvs: Use structure sizes for lengths of IPv4/6 addresses
  keepalived/check/check_snmp.c
Labels: keepalived, check

ipvs: Use SNMP variable3/4/7 instead of variable8 where appropriate
  keepalived/check/check_snmp.c
  keepalived/core/snmp.c
  keepalived/vrrp/vrrp_snmp.c
Labels: keepalived, check, core, vrrp

ipvs: streamline SNMP real server code when no sorry server
  keepalived/check/check_snmp.c
Labels: keepalived, check

ipvs: Merge several SNMP functions that were doing nearly the same thing
  keepalived/check/libipvs.c
  keepalived/include/ip_vs.h
Labels: keepalived, check, include

ipvs: Use kernel structures for ipvs daemon parameters
  keepalived/check/ipvswrapper.c
  keepalived/check/libipvs.c
  keepalived/include/ip_vs.h
Labels: keepalived, check, include

ipvs: Remove unused fields from ip_vs_get_dest_entries_app structure
  keepalived/check/libipvs.c
  keepalived/include/ip_vs.h
Labels: keepalived, check, include

ipvs: Streamline finding VS group entry for SNMP
  keepalived/check/check_snmp.c
Labels: keepalived, check

ipvs: Streamline finding RS for SNMP
  keepalived/check/check_snmp.c
Labels: keepalived, check

ipvs: Streamline finding VS for SNMP
  keepalived/check/check_snmp.c
Labels: keepalived, check

ipvs: don't duplicate ipvs_getinfo() functionality
  keepalived/check/libipvs.c
Labels: keepalived, check

ipvs: set var_len = 0 when returning an error to SNMP
  keepalived/core/snmp.c
Labels: keepalived, core

ipvs: fix building with SNMP support without using netlink interface
  keepalived/check/libipvs.c
Labels: keepalived, check

ipvs: Fix stats handling when only have 32 bit stats
  doc/man/man5/keepalived.conf.5.in
  keepalived/check/libipvs.c
Labels: documentation, man, man5, keepalived, check

vrrp: remove logging on status output
  keepalived/vrrp/vrrp_daemon.c
Labels: keepalived, vrrp

keepalived-2.3.0
  configure.ac
Labels: repository

configure: fix secondary config file location when using --prefix=/usr
  configure.ac
Labels: repository

configure: fix secondary config file location when using --prefix=/usr
  configure.ac
Labels: repository

keepalived-2.3.1
  configure.ac
Labels: repository

vrrp: Handle a reload before vrrp_delayed_start has expired
  keepalived/vrrp/vrrp_daemon.c
Labels: keepalived, vrrp

ipvs: Update status code of misc checker if changes while in fault state
  keepalived/check/check_misc.c
Labels: keepalived, check

vrrp: Ensure VRRPv3 advert interval strictly <= 40.95 seconds
  keepalived/vrrp/vrrp.c
Labels: keepalived, vrrp

vrrp: fix track process reinitialize fork delay timer
  keepalived/core/track_process.c
Labels: keepalived, core

ipvs: keeap rs down if sorry server is up after reload
  keepalived/check/ipwrapper.c
Labels: keepalived, check

vrrp: remove need for route to have configured interface to track it
  keepalived/core/keepalived_netlink.c
  keepalived/vrrp/vrrp.c
  keepalived/vrrp/vrrp_iproute.c
  keepalived/vrrp/vrrp_scheduler.c
Labels: keepalived, core, vrrp

vrrp: fix IPROUTE_ADD values
  keepalived/include/vrrp_iproute.h
Labels: keepalived, include

all: add --ignore-sigint option
  doc/man/man8/keepalived.8.in
  keepalived/bfd/bfd_daemon.c
  keepalived/check/check_daemon.c
  keepalived/core/main.c
  keepalived/include/main.h
  keepalived/vrrp/vrrp_daemon.c
Labels: documentation, man, man1, keepalived, bfd, check, core, include, vrrp

Update INSTALL instructions - add openSUSE
  INSTALL
Labels: repository

ipvs: Retry ipvs_nl_send_message() in ipvs_getinfo()
  keepalived/check/ipvswrapper.c
  keepalived/check/libipvs.c
  keepalived/include/libipvs.h
Labels: keepalived, check, include

ipvs: Remove unused no variable
  keepalived/check/ipvswrapper.c
Labels: keepalived, check

ipvs: remove bizarre ipvs_nl_send_message(NULL, NULL, NULL)
  keepalived/check/libipvs.c
Labels: keepalived, check

core: improve error message for process event listen
  keepalived/core/track_process.c
Labels: keepalived, core

all: Properly handle an include file name ending with '\'
  lib/parser.c
Labels: lib

vrrp: Allow for Ethernet frame padding for short packets
  keepalived/vrrp/vrrp.c
Labels: keepalived, vrrp

vrrp: Remove duplicate dumping of master advert interval
  keepalived/vrrp/vrrp_data.c
Labels: keepalived, vrrp

vrrp: free script->path for notify scripts if set
  lib/notify.h
Labels: lib
