Repository acassen/keepalived, changes with the labels that .github/labeler.yml gives for each.
All labels: repository, github, bin, bin_install, documentation, man, man1, man5, samples, source, docker, goodies, keepalived, bfd, check, core, dbus, include, trackers, vrrp, lib, m4, snap-tools, snap, hooks, tests, ci, tools, jason_tracking

lib: don't return subtracted addresses for rb_find() compare function
  lib/memory.c
Labels: lib

vrrp: Handle empty ipset names with vrrp_ipsets keyword
  keepalived/core/global_parser.c
Labels: keepalived, core

vrrp: handle empty iptables chain names - vrrp_iptables keyword
  keepalived/core/global_parser.c
Labels: keepalived, core

vrrp and ipvs: handle empty nftables chain names
  keepalived/core/global_parser.c
Labels: keepalived, core

configure: add --enable-sanitize-address option
  configure.ac
Labels: repository

vrrp: fix memory leak if error in vrrp_ipsets configuration
  keepalived/core/global_parser.c
Labels: keepalived, core

vrrp: use configured vrrp ipset names rather than ignore them
  keepalived/core/global_parser.c
Labels: keepalived, core

vrrp: check configured vrrp ipset names are all different
  keepalived/core/global_parser.c
Labels: keepalived, core

vrrp: stop memory leak when error in configuring vrrp_iptables
  keepalived/core/global_parser.c
Labels: keepalived, core

core: remove some duplicate include files
  keepalived/core/main.c
Labels: keepalived, core

core: cosmetic code layout change
  keepalived/core/global_parser.c
Labels: keepalived, core

vrrp: change vrrp_in_chk_vips to return bool rather than int
  keepalived/vrrp/vrrp.c
Labels: keepalived, vrrp

configure: add --enable-sanitize-(undefined,leak,memory,scudo,hwaddress) options
  INSTALL
  configure.ac
  keepalived/check/check_parser.c
  keepalived/core/Makefile.am
  keepalived/core/main.c
  keepalived/core/sanitizer.c
  keepalived/include/sanitizer.h
  lib/memory.c
Labels: repository, keepalived, check, core, include, lib

configure: add --enable-(cflags,cppflags,ldflags) options
  configure.ac
Labels: repository

core: ensure only one instance of keepalived can run per config_id
  keepalived/bfd/bfd_daemon.c
  keepalived/check/check_daemon.c
  keepalived/core/main.c
  keepalived/core/pidfile.c
  keepalived/include/main.h
  keepalived/include/pidfile.h
  keepalived/vrrp/vrrp_daemon.c
Labels: keepalived, bfd, check, core, include, vrrp

vrrp: Duplicate/drop MLDv1 listener reports on VMACs
  keepalived/vrrp/vrrp_iptables.c
  keepalived/vrrp/vrrp_nftables.c
Labels: keepalived, vrrp

vrrp: check ifindex != 0 before using the interface
  keepalived/vrrp/vrrp_if.c
  keepalived/vrrp/vrrp_iproute.c
Labels: keepalived, vrrp

all: Ensure pid file exists when respawning child process
  keepalived/core/main.c
  keepalived/core/pidfile.c
  keepalived/include/main.h
  keepalived/include/pidfile.h
Labels: keepalived, core, include

all: ensure pidfile is created if a reload causes child to start
  doc/man/man5/keepalived.conf.5.in
  keepalived/check/check_api.c
  keepalived/check/check_bfd.c
  keepalived/check/check_daemon.c
  keepalived/check/check_dns.c
  keepalived/check/check_file.c
  keepalived/check/check_genhash.c
  keepalived/check/check_http.c
  keepalived/check/check_misc.c
  keepalived/check/check_parser.c
  keepalived/check/check_ping.c
  keepalived/check/check_smtp.c
  keepalived/check/check_ssl.c
  keepalived/check/check_tcp.c
  keepalived/check/check_udp.c
  keepalived/check/ipwrapper.c
  keepalived/core/pidfile.c
  keepalived/include/check_api.h
  keepalived/include/check_bfd.h
  keepalived/include/check_http.h
  keepalived/include/check_misc.h
  keepalived/include/check_ping.h
  keepalived/include/check_smtp.h
  keepalived/include/ipwrapper.h
  lib/parser.c
Labels: documentation, man, man5, keepalived, check, core, include, lib

all: update how pidfile handled after reload with new configuration
  keepalived/core/pidfile.c
Labels: keepalived, core

Revert "all: update how pidfile handled after reload with new configuration"
  keepalived/core/pidfile.c
Labels: keepalived, core

Revert "all: ensure pidfile is created if a reload causes child to start"
  doc/man/man5/keepalived.conf.5.in
  keepalived/check/check_api.c
  keepalived/check/check_bfd.c
  keepalived/check/check_daemon.c
  keepalived/check/check_dns.c
  keepalived/check/check_file.c
  keepalived/check/check_genhash.c
  keepalived/check/check_http.c
  keepalived/check/check_misc.c
  keepalived/check/check_parser.c
  keepalived/check/check_ping.c
  keepalived/check/check_smtp.c
  keepalived/check/check_ssl.c
  keepalived/check/check_tcp.c
  keepalived/check/check_udp.c
  keepalived/check/ipwrapper.c
  keepalived/core/pidfile.c
  keepalived/include/check_api.h
  keepalived/include/check_bfd.h
  keepalived/include/check_http.h
  keepalived/include/check_misc.h
  keepalived/include/check_ping.h
  keepalived/include/check_smtp.h
  keepalived/include/ipwrapper.h
  lib/parser.c
Labels: documentation, man, man5, keepalived, check, core, include, lib

all: update how pidfile handled after reload with new configuration
  keepalived/core/pidfile.c
Labels: keepalived, core

VRRP: add thread_timer_expired keyword as a synonym of timer_expired_backup
  doc/man/man5/keepalived.conf.5.in
  keepalived/vrrp/vrrp_parser.c
Labels: documentation, man, man5, keepalived, vrrp

bfd: use time_t to avoid implicit ptr type casting
  keepalived/bfd/bfd_data.c
Labels: keepalived, bfd

test: update tcp_server and tcp_client
  test/Makefile
  test/tcp_client.c
  test/tcp_server.c
Labels: tests

vrrp ipvs: Stop setting SO_LINGER on TCP sockets
  doc/man/man5/keepalived.conf.5.in
  keepalived/core/layer4.c
Labels: documentation, man, man5, keepalived, core

core: remove diagnostic message accidently added in commit 7cb09b2
  keepalived/core/pidfile.c
Labels: keepalived, core

test: Make tcp_server use of SO_LINGER optional
  test/tcp_server.c
Labels: tests

itest: Warn if close after send not set in tcp_server for http
  test/tcp_server.c
Labels: tests

configure: explicitly set language to C for configure
  configure.ac
Labels: repository

all: make min_auto_priority delay variable an unsigned
  keepalived/core/global_data.c
  keepalived/core/global_parser.c
  keepalived/include/global_data.h
  lib/process.c
  lib/process.h
Labels: keepalived, core, include, lib

bfd: make alloc_bfd() return NULL rather than false on error
  keepalived/bfd/bfd_data.c
Labels: keepalived, bfd

all: use correct format specifier for time fields
  configure.ac
  keepalived/bfd/bfd_data.c
  keepalived/check/check_http.c
  keepalived/check/check_misc.c
  keepalived/core/global_data.c
  keepalived/core/keepalived_netlink.c
  keepalived/core/main.c
  keepalived/vrrp/vrrp_daemon.c
  keepalived/vrrp/vrrp_data.c
  keepalived/vrrp/vrrp_if.c
  keepalived/vrrp/vrrp_scheduler.c
  lib/logger.c
  lib/scheduler.c
  lib/timer.c
  lib/utils.c
Labels: repository, keepalived, bfd, check, core, vrrp, lib

vrrp ipvs: fix warnings related to signedness of statfs() f_flags
  keepalived/trackers/track_file.c
Labels: keepalived, trackers

vrrp ipvs: remove unused definition of XENFS_SUPER_MAGIC
  keepalived/trackers/track_file.c
Labels: keepalived, trackers

build: don't redefine FORTIFY_SOURCE if host environment defines it
  configure.ac
Labels: repository

ipvs: resolve a "cast increases required alignment" warning
  keepalived/check/check_parser.c
Labels: keepalived, check

core: use /* FALLTHROUGH */ rather than __fallthrough;
  keepalived/core/main.c
Labels: keepalived, core

all: suppress an increases alignment warning
  keepalived/core/keepalived_netlink.c
Labels: keepalived, core

.github/labeler.yml:

repository:
  - ./*

github:
  - .github/*
  - .github/**/*

bin:
  - bin/*

bin_install:
  - bin_install/*

documentation:
  - doc/*
  - doc/**/*
  - doc/**/**/*
  - doc/**/**/**/*

man:
   - doc/man/**/*

man1:
  - doc/man/man1/*

man5:
  - doc/man/man5/*

man1:
  - doc/man/man8/*

samples:
  - doc/samples/*

source:
  - doc/source/*
  - doc/source/**/**

docker:
  - docker/*

goodies:
  - goodies/*

keepalived:
  - keepalived/*
  - keepalived/**/*

bfd:
  - keepalived/bfd/*

check:
  - keepalived/check/*

core:
  - keepalived/core/*

dbus:
  - keepalived/dbus/*

include:
  - keepalived/include/*

trackers:
  - keepalived/trackers/*

vrrp:
  - keepalived/vrrp/*

lib:
  - lib/*

m4:
  - m4/*

snap-tools:
  - snap-tools/*

snap:
  - snap/*
  - snap/**/*

hooks:
  - snap/hooks/*

tests:
  - test/*
  - test/**/*

ci:
  - test/ci/*

tools:
  - tools/*
  - tools/**/*

jason_tracking:
  - tools/json_tracking/*
