Repository acassen/keepalived, changes with the labels that .github/labeler.yml gives for each.
All labels: repository, github, bin, bin_install, documentation, man, man1, man5, samples, source, docker, goodies, keepalived, bfd, check, core, dbus, include, trackers, vrrp, lib, m4, snap-tools, snap, hooks, tests, ci, tools, jason_tracking

.github/labeler.yml:

repository:
  - ./*

github:
  - .github/*
  - .github/**/*

bin:
  - bin/*

bin_install:
  - bin_install/*

documentation:
  - doc/*
  - doc/**/*
  - doc/**/**/*
  - doc/**/**/**/*

man:
   - doc/man/**/*

man1:
  - doc/man/man1/*

man5:
  - doc/man/man5/*

man1:
  - doc/man/man8/*

samples:
  - doc/samples/*

source:
  - doc/source/*
  - doc/source/**/**

docker:
  - docker/*

goodies:
  - goodies/*

keepalived:
  - keepalived/*
  - keepalived/**/*

bfd:
  - keepalived/bfd/*

check:
  - keepalived/check/*

core:
  - keepalived/core/*

dbus:
  - keepalived/dbus/*

include:
  - keepalived/include/*

trackers:
  - keepalived/trackers/*

vrrp:
  - keepalived/vrrp/*

lib:
  - lib/*

m4:
  - m4/*

snap-tools:
  - snap-tools/*

snap:
  - snap/*
  - snap/**/*

hooks:
  - snap/hooks/*

tests:
  - test/*
  - test/**/*

ci:
  - test/ci/*

tools:
  - tools/*
  - tools/**/*

jason_tracking:
  - tools/json_tracking/*

vrrp: add fault_init_exit_delay to vrrp configuration
  keepalived/include/vrrp.h
  keepalived/vrrp/vrrp.c
  keepalived/vrrp/vrrp_data.c
  keepalived/vrrp/vrrp_json.c
  keepalived/vrrp/vrrp_parser.c
Labels: keepalived, include, vrrp

vrrp: add FaultInitExitDelay to SNMP MIB
  doc/KEEPALIVED-MIB.txt
  keepalived/vrrp/vrrp_snmp.c
Labels: documentation, keepalived, vrrp

vrrp: apply fault init exit delay from fault
  keepalived/include/vrrp.h
  keepalived/include/vrrp_scheduler.h
  keepalived/vrrp/vrrp.c
  keepalived/vrrp/vrrp_scheduler.c
Labels: keepalived, include, vrrp

vrrp: handle 2nd fault during fault_init_exit_delay
  keepalived/vrrp/vrrp_scheduler.c
Labels: keepalived, vrrp

vrrp: apply fault init exit delay from init
  keepalived/vrrp/vrrp_scheduler.c
Labels: keepalived, vrrp

vrrp: modify vrrp fault_init_exit_delay at reload
  keepalived/vrrp/vrrp.c
Labels: keepalived, vrrp

snap: set LD_LIBRARY_PATH for daemon
  snap/snapcraft.yaml
Labels: snap

vrrp: add fault_init_exit_delay to vrrp config
  keepalived/include/vrrp.h
  keepalived/vrrp/vrrp.c
  keepalived/vrrp/vrrp_data.c
  keepalived/vrrp/vrrp_json.c
  keepalived/vrrp/vrrp_parser.c
Labels: keepalived, include, vrrp

vrrp: add FaultInitExitDelay to SNMP MIB
  doc/KEEPALIVED-MIB.txt
  keepalived/vrrp/vrrp_snmp.c
Labels: documentation, keepalived, vrrp

vrrp: add vrrp_exit_timer_thread
  keepalived/include/vrrp.h
  keepalived/include/vrrp_scheduler.h
  keepalived/vrrp/vrrp.c
  keepalived/vrrp/vrrp_scheduler.c
  keepalived/vrrp/vrrp_track.c
Labels: keepalived, include, vrrp

codeQL: update codeQL.yml for updated versions and corrected languages
  .github/workflows/codeql.yml
Labels: github

codeQL: Attempt to fix syntax error
  .github/workflows/codeql.yml
Labels: github

lib: fix use of IPROUTE_USR_DIR when not defined
  lib/rttables.c
Labels: lib

github: update workflow yaml files
  .github/workflows/build.yml
  .github/workflows/codeql.yml
Labels: github

vrrp: improve comment re not sending IPv6 advert if no address on interface
  keepalived/core/keepalived_netlink.c
Labels: keepalived, core

vrrp: Remove unused definitions added in instance fault flags commit
  keepalived/include/vrrp.h
Labels: keepalived, include

vrrp: add text for instance fault flags when writing keepalived.data
  keepalived/vrrp/vrrp_data.c
Labels: keepalived, vrrp

vrrp: fix resolved_script flag in call to try_up_instance
  keepalived/vrrp/vrrp_scheduler.c
Labels: keepalived, vrrp

vrrp: add checks that interface fault flags not inconsistent
  configure.ac
  keepalived/vrrp/vrrp_scheduler.c
  keepalived/vrrp/vrrp_track.c
Labels: repository, keepalived, vrrp

vrrp: remove superfluous flag in down_instance() and try_up_instance()
  keepalived/core/keepalived_netlink.c
  keepalived/include/vrrp.h
  keepalived/trackers/track_file.c
  keepalived/vrrp/vrrp.c
  keepalived/vrrp/vrrp_data.c
  keepalived/vrrp/vrrp_if.c
  keepalived/vrrp/vrrp_scheduler.c
  keepalived/vrrp/vrrp_track.c
Labels: keepalived, core, include, trackers, vrrp

vrrp: use a fault flag if num_track_faults is non zero
  keepalived/core/keepalived_netlink.c
  keepalived/include/vrrp.h
  keepalived/vrrp/vrrp.c
  keepalived/vrrp/vrrp_if.c
  keepalived/vrrp/vrrp_scheduler.c
  keepalived/vrrp/vrrp_track.c
Labels: keepalived, core, include, vrrp

vrrp: fix compilation failure if building without VMACs
  keepalived/include/vrrp.h
Labels: keepalived, include

vrrp: remove superfluous parameter to down_instance() and try_up_instance()
  keepalived/core/keepalived_netlink.c
  keepalived/include/vrrp_scheduler.h
  keepalived/include/vrrp_track.h
  keepalived/trackers/track_file.c
  keepalived/vrrp/vrrp.c
  keepalived/vrrp/vrrp_if.c
  keepalived/vrrp/vrrp_scheduler.c
  keepalived/vrrp/vrrp_track.c
Labels: keepalived, core, include, trackers, vrrp

vrrp: use typedef for interface fault flags enum and change name
  keepalived/include/vrrp.h
  keepalived/include/vrrp_scheduler.h
  keepalived/vrrp/vrrp_scheduler.c
Labels: keepalived, include, vrrp

vrrp: simplify checking if an instance is already in fault state
  keepalived/vrrp/vrrp.c
  lib/bitops.h
Labels: keepalived, vrrp, lib

core: cosmetic code changes
  keepalived/core/keepalived_netlink.c
Labels: keepalived, core

vrrp: add function set_fault() so fault flags set in only one place
  keepalived/vrrp/vrrp_track.c
Labels: keepalived, vrrp

vrrp: don't attempt to send advert if socket is closed
  keepalived/vrrp/vrrp.c
Labels: keepalived, vrrp

vrrp: don't have multiple tracking objects for a VRRP instance
  keepalived/vrrp/vrrp.c
  keepalived/vrrp/vrrp_data.c
Labels: keepalived, vrrp

vrrp: delay deleting VMACs are parent interface is deleted
  keepalived/vrrp/vrrp_if.c
Labels: keepalived, vrrp

lib: optimize bitops when using only one word
  lib/bitops.h
Labels: lib

vrrp: fix compiling when VMACs disabled
  keepalived/check/libipvs.c
  keepalived/vrrp/vrrp_if.c
Labels: keepalived, check, vrrp

vrrp: fix recreating a VMAC interface with IPv6
  keepalived/include/vrrp_sock.h
  keepalived/vrrp/vrrp.c
  keepalived/vrrp/vrrp_scheduler.c
Labels: keepalived, include, vrrp

vrrp: don't change link local IPv6 address when extra added to base if
  keepalived/core/keepalived_netlink.c
Labels: keepalived, core

vrrp: fix persistent FAULT state with use_vmac on a down base interface
  keepalived/core/keepalived_netlink.c
Labels: keepalived, core

track_file: don't overwrite track file at startup unless configured to
  keepalived/trackers/track_file.c
Labels: keepalived, trackers

track_file: make enum names mean what they say
  keepalived/trackers/track_file.c
Labels: keepalived, trackers

vrrp: allow interface up debounce timer to exceed 2 * advert interval
  doc/man/man5/keepalived.conf.5.in
  keepalived/vrrp/vrrp.c
Labels: documentation, man, man5, keepalived, vrrp

vrrp: update delayed start time on reload if vrrp_startup_delay changed
  keepalived/vrrp/vrrp_daemon.c
Labels: keepalived, vrrp

lib: make inet_sockaddrtos() return none if address unspecified
  keepalived/vrrp/vrrp.c
  lib/utils.c
Labels: keepalived, vrrp, lib
