Repository acassen/keepalived, changes with the labels that .github/labeler.yml gives for each.
All labels: repository, github, bin, bin_install, documentation, man, man1, man5, samples, source, docker, goodies, keepalived, bfd, check, core, dbus, include, trackers, vrrp, lib, m4, snap-tools, snap, hooks, tests, ci, tools, jason_tracking

README: update README.kernel_versions
  README.kernel_versions
Labels: repository

core: add O_CLOEXEC flag to pidfiles
  keepalived/core/pidfile.c
Labels: keepalived, core

core: Update second open() of pidfile to also use O_CLOEXEC
  keepalived/core/pidfile.c
Labels: keepalived, core

snap: Remove architectures keyword from snapcraft.yaml
  snap/snapcraft.yaml
Labels: snap

Revert "snap: Remove architectures keyword from snapcraft.yaml"
  snap/snapcraft.yaml
Labels: snap

build: Fix for older compilers that don't support _FORTIFY_SOURCE=2
  configure.ac
Labels: repository

vrrp: use correct arrays for rt_addrprotos
  lib/rttables.c
Labels: lib

vrrp: check the iproute2 directories exist when read first file
  lib/rttables.c
Labels: lib

vrrp: create /etc/iproute2 directory if it doesn't exist
  lib/rttables.c
Labels: lib

vrrp: /etc/iproute2/rt_addrprotos.d is not supported until v6.13
  lib/rttables.c
Labels: lib

vrrp: correct two comments
  keepalived/include/vrrp.h
  keepalived/vrrp/vrrp.c
Labels: keepalived, include, vrrp

utils: simplify addr_cmp()
  lib/utils.c
Labels: lib

vrrp: Restore priority 255 if duplicate address owner detected
  keepalived/include/vrrp.h
  keepalived/vrrp/vrrp.c
Labels: keepalived, include, vrrp

vrrp: Only reduce address owner priority if primary ip address lower
  keepalived/vrrp/vrrp.c
Labels: keepalived, vrrp

vrrp: if duplicate address owners, reduce priority if other won't
  keepalived/include/vrrp.h
  keepalived/vrrp/vrrp.c
  keepalived/vrrp/vrrp_data.c
Labels: keepalived, include, vrrp

vrrp: add more helpful log messages if duplicate address owner
  keepalived/vrrp/vrrp.c
Labels: keepalived, vrrp

vrrp: some improvements for duplicate address owner handling
  keepalived/vrrp/vrrp.c
Labels: keepalived, vrrp

vrrp: Implement logging rate-limiting specified by RFC 9568
  keepalived/include/vrrp.h
  keepalived/vrrp/vrrp.c
  keepalived/vrrp/vrrp_data.c
Labels: keepalived, include, vrrp

vrrp: use macro for accessing VRRPv3 advert interval in packet
  keepalived/include/vrrp.h
  keepalived/vrrp/vrrp.c
Labels: keepalived, include, vrrp

vrrp: log rate-limited warning if VRRPv3 advert interval mismatch
  keepalived/vrrp/vrrp.c
Labels: keepalived, vrrp

vrrp: log rate-limited message if advert has no VIPs
  keepalived/vrrp/vrrp.c
Labels: keepalived, vrrp

vrrp: it is not an error if VIPs in advert do not match configured
  keepalived/vrrp/vrrp.c
Labels: keepalived, vrrp

vrrp: update saved master address when receive high priority advert
  keepalived/vrrp/vrrp.c
Labels: keepalived, vrrp

vrrp: include source address in log after receiving a bad advert
  keepalived/vrrp/vrrp.c
Labels: keepalived, vrrp

vrrp: use struct in_addr/in6_addr in vrrp_in_chk_vips for checking VIPs
  keepalived/vrrp/vrrp.c
Labels: keepalived, vrrp

vrrp: use enum rather than defines for packet error codes
  keepalived/include/vrrp.h
Labels: keepalived, include

vrrp: check that VIPs are not duplicated
  keepalived/vrrp/vrrp_data.c
Labels: keepalived, vrrp

vrrp: check TTL/HL and unicast source ip even when not checking VIPs
  keepalived/vrrp/vrrp.c
Labels: keepalived, vrrp

vrrp: change rx_ttl_hop_limit to rx_ttl_hl
  keepalived/include/vrrp.h
  keepalived/vrrp/vrrp.c
  keepalived/vrrp/vrrp_scheduler.c
Labels: keepalived, include, vrrp

vrrp: identify unicast peer in unicast_peer block configuration errors
  keepalived/vrrp/vrrp_data.c
Labels: keepalived, vrrp

vrrp: detect and reject duplicate unicast_peers in configuration
  keepalived/vrrp/vrrp_data.c
Labels: keepalived, vrrp

vrrp: fix compilation error caused by previous patch
  keepalived/vrrp/vrrp_data.c
Labels: keepalived, vrrp

vrrp: add option for address owner to drop received VRRP packets
  doc/doc.play/conf.py
  doc/doc.play/genhash.rst
  doc/doc.play/index.rst
  doc/doc.play/keepalived.conf.rst
  doc/doc.play/keepalived.rst
  doc/doc.play/vertopal.com_genhash.rst
  doc/doc.play/vertopal.com_keepalived.conf.rst
  doc/doc.play/vertopal.com_keepalived.rst
  doc/man/man5/keepalived.conf.5.in
  keepalived/core/global_data.c
  keepalived/core/global_parser.c
  keepalived/include/global_data.h
  keepalived/include/vrrp.h
  keepalived/vrrp/vrrp.c
  keepalived/vrrp/vrrp_data.c
  keepalived/vrrp/vrrp_parser.c
Labels: documentation, man, man5, keepalived, core, include, vrrp

vrrp: add logging a change of master when detailed logging enabled
  keepalived/vrrp/vrrp.c
Labels: keepalived, vrrp

Fix segfault caused double erase from child_pid rb tree
  lib/scheduler.c
Labels: lib

vrrp: support route propagation delay
  keepalived/include/vrrp.h
  keepalived/vrrp/vrrp.c
  keepalived/vrrp/vrrp_parser.c
  keepalived/vrrp/vrrp_scheduler.c
Labels: keepalived, include, vrrp

samples: ensure sample_notify_fifo.sh has write access to PID_DIR
  doc/samples/sample_notify_fifo.sh
Labels: documentation, samples

vrrp: handle a reload with no more startup_delay
  keepalived/vrrp/vrrp_daemon.c
Labels: keepalived, vrrp

There is a typo in the installation documentation: instead of pcre2-revel, it should be pcre2-devel.
  doc/source/installing_keepalived.rst
Labels: documentation, source

Skip running not idle vrrp scripts
  keepalived/vrrp/vrrp_scheduler.c
Labels: keepalived, vrrp

.github/labeler.yml:

repository:
  - ./*

github:
  - .github/*
  - .github/**/*

bin:
  - bin/*

bin_install:
  - bin_install/*

documentation:
  - doc/*
  - doc/**/*
  - doc/**/**/*
  - doc/**/**/**/*

man:
   - doc/man/**/*

man1:
  - doc/man/man1/*

man5:
  - doc/man/man5/*

man1:
  - doc/man/man8/*

samples:
  - doc/samples/*

source:
  - doc/source/*
  - doc/source/**/**

docker:
  - docker/*

goodies:
  - goodies/*

keepalived:
  - keepalived/*
  - keepalived/**/*

bfd:
  - keepalived/bfd/*

check:
  - keepalived/check/*

core:
  - keepalived/core/*

dbus:
  - keepalived/dbus/*

include:
  - keepalived/include/*

trackers:
  - keepalived/trackers/*

vrrp:
  - keepalived/vrrp/*

lib:
  - lib/*

m4:
  - m4/*

snap-tools:
  - snap-tools/*

snap:
  - snap/*
  - snap/**/*

hooks:
  - snap/hooks/*

tests:
  - test/*
  - test/**/*

ci:
  - test/ci/*

tools:
  - tools/*
  - tools/**/*

jason_tracking:
  - tools/json_tracking/*
