Repository acassen/keepalived, changes with the labels that .github/labeler.yml gives for each.
All labels: repository, github, bin, bin_install, documentation, man, man1, man5, samples, source, docker, goodies, keepalived, bfd, check, core, dbus, include, trackers, vrrp, lib, m4, snap-tools, snap, hooks, tests, ci, tools, jason_tracking

.github/labeler.yml:

repository:
  - ./*

github:
  - .github/*
  - .github/**/*

bin:
  - bin/*

bin_install:
  - bin_install/*

documentation:
  - doc/*
  - doc/**/*
  - doc/**/**/*
  - doc/**/**/**/*

man:
   - doc/man/**/*

man1:
  - doc/man/man1/*

man5:
  - doc/man/man5/*

man1:
  - doc/man/man8/*

samples:
  - doc/samples/*

source:
  - doc/source/*
  - doc/source/**/**

docker:
  - docker/*

goodies:
  - goodies/*

keepalived:
  - keepalived/*
  - keepalived/**/*

bfd:
  - keepalived/bfd/*

check:
  - keepalived/check/*

core:
  - keepalived/core/*

dbus:
  - keepalived/dbus/*

include:
  - keepalived/include/*

trackers:
  - keepalived/trackers/*

vrrp:
  - keepalived/vrrp/*

lib:
  - lib/*

m4:
  - m4/*

snap-tools:
  - snap-tools/*

snap:
  - snap/*
  - snap/**/*

hooks:
  - snap/hooks/*

tests:
  - test/*
  - test/**/*

ci:
  - test/ci/*

tools:
  - tools/*
  - tools/**/*

jason_tracking:
  - tools/json_tracking/*

ipvs: Don't set FD_CLOEXEC twice
  keepalived/check/check_ssl.c
Labels: keepalived, check

ipvs: Simplify SSL_GET handling code
  configure.ac
  keepalived/check/check_http.c
  keepalived/check/check_ssl.c
  keepalived/include/check_http.h
Labels: repository, keepalived, check, include

ipvs: simplify ssl_send_request()
  keepalived/check/check_ssl.c
Labels: keepalived, check

lib: Fix malloc check code for CPUs without unaligned memory access
  lib/memory.c
Labels: lib

ipvs: Add option to check OpenSSL mallocs/frees for validity
  configure.ac
  keepalived/bfd/bfd_daemon.c
  keepalived/check/check_daemon.c
  keepalived/core/main.c
  keepalived/vrrp/vrrp_daemon.c
  lib/bitops.h
  lib/memory.c
  lib/memory.h
  lib/scheduler.c
Labels: repository, keepalived, bfd, check, core, vrrp, lib

ipvs: Add option to let SSL_GET shutdown comply with TLS spec
  doc/man/man5/keepalived.conf.5.in
  keepalived/check/check_http.c
  keepalived/check/check_ssl.c
  keepalived/include/check_http.h
Labels: documentation, man, man5, keepalived, check, include

configure: give warnings re enable/disable options the right way around
  configure.ac
Labels: repository

lib: Don't attempt to sort list with 0 or 1 elements
  lib/list_head.c
Labels: lib

lib: Update list_sort() code to the latest from the Linux kernel
  lib/list_head.c
  lib/list_head.h
Labels: lib

lib: Disable list_sort() code while not used
  lib/list_head.c
Labels: lib

core: Stop systemd notify error message
  configure.ac
  lib/systemd.c
Labels: repository, lib

systemd: Don't enable "NotifyAccess=all"
  configure.ac
Labels: repository

vrrp: fix whitespace error
  keepalived/core/keepalived_netlink.c
Labels: keepalived, core

Add CodeQL workflow for GitHub code scanning
  .github/workflows/codeql.yml
Labels: github

netlink: do not ignore vip as sustem owner
  keepalived/core/keepalived_netlink.c
Labels: keepalived, core

netlink: do not ignore vip as system owner
  keepalived/core/keepalived_netlink.c
Labels: keepalived, core

netlink: do not ignore vip as system owner
  keepalived/core/keepalived_netlink.c
Labels: keepalived, core

VRRP: add v3_checksum_as_v2 configuration option
  doc/KEEPALIVED-MIB.txt
  doc/man/man5/keepalived.conf.5.in
  keepalived/core/global_data.c
  keepalived/core/global_parser.c
  keepalived/core/keepalived_netlink.c
  keepalived/core/snmp.c
  keepalived/include/global_data.h
  keepalived/include/vrrp.h
  keepalived/vrrp/vrrp.c
  keepalived/vrrp/vrrp_data.c
  keepalived/vrrp/vrrp_parser.c
  keepalived/vrrp/vrrp_snmp.c
Labels: documentation, man, man5, keepalived, core, include, vrrp

test: correct -h help output for tcp_server and tcp_client
  test/tcp_client.c
  test/tcp_server.c
Labels: tests

netlink: do not ignore vip as system owner
  keepalived/core/keepalived_netlink.c
Labels: keepalived, core

vrrp: prepare options for vrrp system owner instance
  keepalived/core/global_parser.c
  keepalived/include/global_data.h
  keepalived/include/vrrp.h
  keepalived/vrrp/vrrp_parser.c
Labels: keepalived, core, include, vrrp

vrrp: enhance vrrp instance with priority 255
  keepalived/core/keepalived_netlink.c
  keepalived/include/vrrp_scheduler.h
  keepalived/vrrp/vrrp.c
  keepalived/vrrp/vrrp_scheduler.c
Labels: keepalived, core, include, vrrp

vrrp: Add option to revert to backup if thread timer expires
  doc/man/man5/keepalived.conf.5.in
  keepalived/include/vrrp.h
  keepalived/vrrp/vrrp.c
  keepalived/vrrp/vrrp_data.c
  keepalived/vrrp/vrrp_parser.c
  lib/scheduler.c
  lib/scheduler.h
Labels: documentation, man, man5, keepalived, include, vrrp, lib

doc: fix build-essential package install
  doc/source/installing_keepalived.rst
Labels: documentation, source

ipvs: fix issue in reload process when using virtual server groups
  keepalived/check/ipvswrapper.c
Labels: keepalived, check

Update vrrp_json.c
  keepalived/vrrp/vrrp_json.c
Labels: keepalived, vrrp

Update vrrp_json.c
  keepalived/vrrp/vrrp_json.c
Labels: keepalived, vrrp

Update vrrp_json.c
  keepalived/vrrp/vrrp_json.c
Labels: keepalived, vrrp

Update vrrp_json.c
  keepalived/vrrp/vrrp_json.c
Labels: keepalived, vrrp

Update vrrp_json.c
  keepalived/vrrp/vrrp_json.c
Labels: keepalived, vrrp

Update vrrp_json.c
  keepalived/vrrp/vrrp_json.c
Labels: keepalived, vrrp

Update vrrp_json.c
  keepalived/vrrp/vrrp_json.c
Labels: keepalived, vrrp

vrrp: Add optional new JSON format including track_process details
  doc/man/man5/keepalived.conf.5.in
  keepalived/core/global_data.c
  keepalived/core/global_parser.c
  keepalived/include/global_data.h
  keepalived/include/global_json.h
  keepalived/vrrp/vrrp_json.c
Labels: documentation, man, man5, keepalived, core, include, vrrp

Update vrrp_json.c
  keepalived/vrrp/vrrp_json.c
Labels: keepalived, vrrp

Update vrrp_json.c
  keepalived/vrrp/vrrp_json.c
Labels: keepalived, vrrp

Update vrrp_json.c
  keepalived/vrrp/vrrp_json.c
Labels: keepalived, vrrp

add configuration exec_before_vip to execute notify_master script before set vip
  doc/source/configuration_synopsis.rst
  keepalived/include/vrrp.h
  keepalived/vrrp/vrrp.c
  keepalived/vrrp/vrrp_notify.c
  keepalived/vrrp/vrrp_parser.c
  lib/notify.c
  lib/notify.h
Labels: documentation, source, keepalived, include, vrrp, lib

vrrp: clarify return when no interface flags change
  keepalived/core/keepalived_netlink.c
Labels: keepalived, core

vrrp: fix missed Netlink interface status change
  keepalived/core/keepalived_netlink.c
Labels: keepalived, core

vrrp: only deal with up and running flags in process_interface_flags_change()
  keepalived/core/keepalived_netlink.c
Labels: keepalived, core
