Repository acassen/keepalived, changes with the labels that .github/labeler.yml gives for each.
All labels: repository, github, bin, bin_install, documentation, man, man1, man5, samples, source, docker, goodies, keepalived, bfd, check, core, dbus, include, trackers, vrrp, lib, m4, snap-tools, snap, hooks, tests, ci, tools, jason_tracking

github: add a stale bot to close stale things
  .github/stale.yml
Labels: github

docker: Update docker file
  Dockerfile
  Dockerfile.in
  Makefile.am
  configure.ac
  docker/README
Labels: repository, docker

vrrp: Fix some compiler warnings found when compiling on Alpine Linux
  keepalived/vrrp/vrrp.c
Labels: keepalived, vrrp

doc: Update instructions in INSTALL file
  INSTALL
Labels: repository

snap: Fix kmod requires in snapcraft.yaml
  snap/snapcraft.yaml
Labels: snap

snap: Update to use Ubuntu 20.04 as the base
  snap/snapcraft.yaml
Labels: snap

snap: Update kernel version builds for snapcraft
  snap/snapcraft.yaml
Labels: snap

snap: Change snapcraft configflags to autotools-configure-parameters
  autoconf
  snap/snapcraft.yaml
Labels: repository, snap

snap: Update iptables dev package names for Ubuntu 20.04
  snap/snapcraft.yaml
Labels: snap

snap: Update libsnmp to libsnmp35 from libsnmp30
  INSTALL
  snap/snapcraft.yaml
Labels: repository, snap

snap: Update libipset3 to libipset13
  INSTALL
  snap/snapcraft.yaml
Labels: repository, snap

snap: update libnftnl from libnftnl7 to libnftnl11
  snap/snapcraft.yaml
Labels: snap

snap: Don't use SNAPCRAFT_PART_INSTALL in the build section
  snap/snapcraft.yaml
Labels: snap

snap: Drop support for i386, it is not supported from Ubuntu 19.10
  snap/snapcraft.yaml
Labels: snap

snap: It appears spaces are no longer allowed in the command statement
  snap/snapcraft.yaml
Labels: snap

snap: It appears env vars are no longer allowed in the command statement
  snap/snapcraft.yaml
Labels: snap

dbus: fix policy to not be overly broad
  keepalived/dbus/org.keepalived.Vrrp1.conf
Labels: keepalived, dbus

core: update --help output for --log-facility
  keepalived/core/main.c
Labels: keepalived, core

docker: Add generated Dockerfile to .gitignore
  .gitignore
Labels: repository

scripts: Fix clearing supplemental groups before running a script
  lib/notify.c
Labels: lib

vrrp: Fix specifying user/group for vrrp_scripts
  keepalived/vrrp/vrrp_parser.c
Labels: keepalived, vrrp

init: Make parent process exit with meaningful status on error
  keepalived/bfd/bfd_daemon.c
  keepalived/check/check_daemon.c
  keepalived/core/main.c
  keepalived/vrrp/vrrp_daemon.c
  lib/scheduler.c
  lib/scheduler.h
Labels: keepalived, bfd, check, core, vrrp, lib

init: Ensure systemd is not notified of successful start if failed
  keepalived/bfd/bfd_daemon.c
  keepalived/check/check_daemon.c
  keepalived/core/Makefile.am
  keepalived/core/main.c
  keepalived/vrrp/vrrp_daemon.c
  lib/Makefile.am
  lib/scheduler.c
  lib/scheduler.h
  lib/systemd.c
  lib/systemd.h
Labels: keepalived, bfd, check, core, vrrp, lib

init: fix building without systemd notify suport
  lib/scheduler.c
Labels: lib

core: Fix handling of default config file
  configure.ac
  doc/man/man8/Makefile.am
  doc/man/man8/keepalived.8.in
  keepalived/core/main.c
  keepalived/etc/keepalived/Makefile.am
Labels: repository, documentation, man, man1, keepalived, core

bfd: handle unexpected closure of pipe to checker and vrrp processes
  keepalived/check/check_bfd.c
  keepalived/vrrp/vrrp_scheduler.c
Labels: keepalived, check, vrrp

debug: deregister parent thread addresses earlier
  keepalived/bfd/bfd_daemon.c
  keepalived/check/check_daemon.c
  keepalived/vrrp/vrrp_daemon.c
Labels: keepalived, bfd, check, vrrp

all: Ensure PDEATHSIG is not disabled
  keepalived/bfd/bfd_daemon.c
  keepalived/check/check_daemon.c
  keepalived/core/main.c
  keepalived/vrrp/vrrp_daemon.c
  lib/notify.c
  lib/process.c
  lib/process.h
Labels: keepalived, bfd, check, core, vrrp, lib

lib: Add 'static' to declaration of two variables in process.c
  lib/process.c
Labels: lib

snap: Update for kernel 5.08 headers now not available in main channel
  snap/snapcraft.yaml
Labels: snap

doc: allow specification of where sample config files are installed
  configure.ac
  doc/Makefile.am
Labels: repository, documentation

snap: Add installation of sample config files
  snap/snapcraft.yaml
Labels: snap

configure: Fix generating OLD_DEFAULT_CONFIG_FILE
  configure.ac
Labels: repository

lib: Add missing file to tarball creation
  lib/Makefile.am
Labels: lib

INSTALL: correct kmod package name for RedHat systems
  INSTALL
Labels: repository

vrrp: Add add/prepend/append options to static and virtual routes
  doc/man/man5/keepalived.conf.5.in
  keepalived/include/vrrp_iproute.h
  keepalived/vrrp/vrrp_iproute.c
Labels: documentation, man, man5, keepalived, include, vrrp

IPVS: check that ipvs network namespace is not changed on reload
  keepalived/core/main.c
Labels: keepalived, core

keepalived-2.2.5
  configure.ac
Labels: repository

snap: Fix building a new release without any subsequent git commits
  snap/snapcraft.yaml
Labels: snap

config: check get_default_script_user value
  keepalived/core/global_data.c
Labels: keepalived, core

.github/labeler.yml:

repository:
  - ./*

github:
  - .github/*
  - .github/**/*

bin:
  - bin/*

bin_install:
  - bin_install/*

documentation:
  - doc/*
  - doc/**/*
  - doc/**/**/*
  - doc/**/**/**/*

man:
   - doc/man/**/*

man1:
  - doc/man/man1/*

man5:
  - doc/man/man5/*

man1:
  - doc/man/man8/*

samples:
  - doc/samples/*

source:
  - doc/source/*
  - doc/source/**/**

docker:
  - docker/*

goodies:
  - goodies/*

keepalived:
  - keepalived/*
  - keepalived/**/*

bfd:
  - keepalived/bfd/*

check:
  - keepalived/check/*

core:
  - keepalived/core/*

dbus:
  - keepalived/dbus/*

include:
  - keepalived/include/*

trackers:
  - keepalived/trackers/*

vrrp:
  - keepalived/vrrp/*

lib:
  - lib/*

m4:
  - m4/*

snap-tools:
  - snap-tools/*

snap:
  - snap/*
  - snap/**/*

hooks:
  - snap/hooks/*

tests:
  - test/*
  - test/**/*

ci:
  - test/ci/*

tools:
  - tools/*
  - tools/**/*

jason_tracking:
  - tools/json_tracking/*
