Repository acassen/keepalived, changes with the labels that .github/labeler.yml gives for each.
All labels: repository, github, bin, bin_install, documentation, man, man1, man5, samples, source, docker, goodies, keepalived, bfd, check, core, dbus, include, trackers, vrrp, lib, m4, snap-tools, snap, hooks, tests, ci, tools, jason_tracking

.github/labeler.yml:

repository:
  - ./*

github:
  - .github/*
  - .github/**/*

bin:
  - bin/*

bin_install:
  - bin_install/*

documentation:
  - doc/*
  - doc/**/*
  - doc/**/**/*
  - doc/**/**/**/*

man:
   - doc/man/**/*

man1:
  - doc/man/man1/*

man5:
  - doc/man/man5/*

man1:
  - doc/man/man8/*

samples:
  - doc/samples/*

source:
  - doc/source/*
  - doc/source/**/**

docker:
  - docker/*

goodies:
  - goodies/*

keepalived:
  - keepalived/*
  - keepalived/**/*

bfd:
  - keepalived/bfd/*

check:
  - keepalived/check/*

core:
  - keepalived/core/*

dbus:
  - keepalived/dbus/*

include:
  - keepalived/include/*

trackers:
  - keepalived/trackers/*

vrrp:
  - keepalived/vrrp/*

lib:
  - lib/*

m4:
  - m4/*

snap-tools:
  - snap-tools/*

snap:
  - snap/*
  - snap/**/*

hooks:
  - snap/hooks/*

tests:
  - test/*
  - test/**/*

ci:
  - test/ci/*

tools:
  - tools/*
  - tools/**/*

jason_tracking:
  - tools/json_tracking/*

recalculate buffer length inside recheck loop
  lib/parser.c
Labels: lib

parser: optimise fixing recalculating updated line length
  lib/parser.c
Labels: lib

vrrp: deley freeing vrrp instances until all references are freed
  keepalived/vrrp/vrrp_data.c
Labels: keepalived, vrrp

vrrp: Add no_virtual_ipaddress keyword
  doc/man/man5/keepalived.conf.5.in
  keepalived/include/vrrp.h
  keepalived/vrrp/vrrp.c
  keepalived/vrrp/vrrp_data.c
  keepalived/vrrp/vrrp_parser.c
Labels: documentation, man, man5, keepalived, include, vrrp

vrrp: workaround GCC LTO bug causing incorrect VRRPv3 checksum
  lib/utils.c
Labels: lib

vrrp: further simplification of in_csum()
  lib/utils.c
Labels: lib

build: add clang requirements for Ubuntu
  INSTALL
Labels: repository

fix mem leaks when virtualhost is duplicate
  keepalived/check/check_http.c
Labels: keepalived, check

fix mem leaks when virtualhost and snmp_name are duplicate
  keepalived/check/check_parser.c
Labels: keepalived, check

check: use last entry if duplicate definition
  keepalived/check/check_http.c
  keepalived/check/check_parser.c
  lib/parser.c
  lib/parser.h
Labels: keepalived, check, lib

check: fix further memory leaks when configuration is repeated
  keepalived/check/check_http.c
  keepalived/check/check_parser.c
  keepalived/check/check_smtp.c
Labels: keepalived, check

avoid killing main process during configuration check
  lib/notify.c
Labels: lib

fix the same check in other files just for good measure
  keepalived/bfd/bfd_daemon.c
  keepalived/check/check_daemon.c
  keepalived/vrrp/vrrp_daemon.c
Labels: keepalived, bfd, check, vrrp

fix a typo
  keepalived/vrrp/vrrp_daemon.c
Labels: keepalived, vrrp

config_check: Don't kill process when checking validity of scripts
  lib/notify.c
Labels: lib

doc: Update description of enable_script_security
  doc/man/man5/keepalived.conf.5.in
Labels: documentation, man, man5

doc: Add explanation of why unicast VRRPv3 checksum changed
  doc/man/man5/keepalived.conf.5.in
Labels: documentation, man, man5

vrrp: Use standard way to indicate case statement fallthrough
  configure.ac
  keepalived/core/main.c
Labels: repository, keepalived, core

Stop using register hint for variables
  keepalived/vrrp/vrrp_ndisc.c
  lib/utils.c
Labels: keepalived, vrrp, lib

Revert "vrrp: workaround GCC LTO bug causing incorrect VRRPv3 checksum"
  lib/utils.c
Labels: lib

vrrp: Work around a GCC LTO bug in checksum calculation
  configure.ac
  keepalived/core/keepalived_netlink.c
  keepalived/include/keepalived_netlink.h
  lib/utils.c
  lib/utils.h
Labels: repository, keepalived, core, include, lib

configure: Correct setting KA_CPPFLAGS, KA_CFLAGS for building for GCC bugs
  configure.ac
Labels: repository

configure: Don't report fwmark socket support if building without IPVS
  configure.ac
Labels: repository

vrrp: fix building with --disable-vmac
  keepalived/core/keepalived_netlink.c
Labels: keepalived, core

vrrp: fix compiler warning when building without VRRP authentication
  keepalived/vrrp/vrrp_parser.c
Labels: keepalived, vrrp

lib: Add missing const in cast
  lib/utils.c
Labels: lib

build: Add -fno-strict-aliasing to CFLAGS
  configure.ac
Labels: repository

vrrp: Add --enable-nm configure option
  INSTALL
  configure.ac
  keepalived/include/vrrp_vmac_nm.h
  keepalived/vrrp/Makefile.am
  keepalived/vrrp/vrrp_vmac.c
  keepalived/vrrp/vrrp_vmac_nm.c
Labels: repository, keepalived, include, vrrp

lib: update in_csum() so that it comforms to strict aliasing rules
  configure.ac
  keepalived/vrrp/vrrp.c
  lib/utils.c
  lib/utils.h
Labels: repository, keepalived, vrrp, lib

vrrp: Update known VMAC managed NetworkManager version
  INSTALL
  keepalived/vrrp/vrrp_vmac_nm.c
Labels: repository, keepalived, vrrp

malloc: add option to check for malloc's etc returning NULL
  configure.ac
  keepalived/check/check_genhash.c
  lib/memory.c
  lib/memory.h
  lib/warnings.h
Labels: repository, keepalived, check, lib

test: update test_server and test_client
  test/tcp_client.c
  test/tcp_server.c
Labels: tests

check: resolve segfault if terminate early in initialisation stage
  keepalived/check/check_daemon.c
Labels: keepalived, check

resolve segfault when modprobe ip_vs.ko error
  keepalived/check/check_api.c
Labels: keepalived, check

check: initialize checkers_queue at compile time
  keepalived/check/check_api.c
  keepalived/check/check_daemon.c
Labels: keepalived, check

lib: change in_csum to use attribute may_alias by default
  lib/utils.c
Labels: lib

Fix commit aef1b582 - "lib: change in_csum to use attribute may_alias by default"
  keepalived/vrrp/vrrp.c
  lib/utils.c
  lib/utils.h
Labels: keepalived, vrrp, lib

lib: Really really make in_csum use may_alias attribute
  lib/utils.c
Labels: lib

ipvs: Don't report HTTP_CHECK when it is an SSL_CHECK
  keepalived/check/check_http.c
Labels: keepalived, check

ipvs: Work around OpenSSL memory leak in versions 3.0.0 to 3.0.4
  keepalived/check/check_ssl.c
Labels: keepalived, check
