Repository acassen/keepalived, changes with the labels that .github/labeler.yml gives for each.
All labels: repository, github, bin, bin_install, documentation, man, man1, man5, samples, source, docker, goodies, keepalived, bfd, check, core, dbus, include, trackers, vrrp, lib, m4, snap-tools, snap, hooks, tests, ci, tools, jason_tracking

vrrp: report authentication extension counters
  keepalived/vrrp/vrrp_json.c
  keepalived/vrrp/vrrp_print.c
Labels: keepalived, vrrp

vrrp: reserve the auth_hmac trailer in the advert MTU budget
  keepalived/vrrp/vrrp.c
Labels: keepalived, vrrp

vrrp: add HMAC authentication extension module
  keepalived/include/vrrp.h
  keepalived/include/vrrp_auth_hmac.h
  keepalived/vrrp/Makefile.am
  keepalived/vrrp/vrrp_auth_hmac.c
Labels: keepalived, include, vrrp

vrrp: allow auth_hmac keys to be loaded from a file
  doc/man/man5/keepalived.conf.5.in
  keepalived/vrrp/vrrp_parser.c
Labels: documentation, man, man5, keepalived, vrrp

vrrp: drop stale adverts before the auth_hmac digest
  keepalived/vrrp/vrrp_auth_hmac.c
Labels: keepalived, vrrp

vrrp: raise the auth_hmac key minimum to 32 bytes
  doc/man/man5/keepalived.conf.5.in
  keepalived/include/vrrp_auth_hmac.h
Labels: documentation, man, man5, keepalived, include

vrrp: add a systemd credential drop-in sample for auth_hmac keys
  doc/man/man5/keepalived.conf.5.in
  doc/samples/keepalived.service.d.auth_hmac.conf
Labels: documentation, man, man5, samples

Make JSON create atomic
  keepalived/vrrp/vrrp_json.c
Labels: keepalived, vrrp

keepalived-2.4.0
  configure.ac
  www/docs/articles/index.md
  www/docs/articles/vrrp-hmac-authentication.md
  www/docs/documentation/keepalived-conf.md
  www/docs/download.md
  www/docs/images/vrrp-hmac-card.png
  www/docs/index.md
  www/docs/news.md
  www/docs/release-notes/Release-2.4.0.md
  www/docs/release-notes/index.md
  www/docs/stylesheets/extra.css
  www/hooks/readtime.py
  www/mkdocs.yml
  www/overrides/main.html
  www/tools/man2md.py
  www/tools/social_card.py
Labels: repository

www: fix download location
  www/docs/download.md
Labels: none

vrrp: align auth_hmac with the IETF draft
  keepalived/include/vrrp.h
  keepalived/include/vrrp_auth_hmac.h
  keepalived/vrrp/vrrp.c
  keepalived/vrrp/vrrp_auth_hmac.c
  keepalived/vrrp/vrrp_json.c
  keepalived/vrrp/vrrp_print.c
Labels: keepalived, include, vrrp

keepalived-2.4.1
  configure.ac
  www/docs/articles/vrrp-hmac-authentication.md
  www/docs/download.md
  www/docs/index.md
  www/docs/news.md
  www/docs/release-notes/Release-2.4.1.md
  www/docs/release-notes/index.md
  www/mkdocs.yml
Labels: repository

check: add failover pool configuration and data structures
  keepalived/check/check_data.c
  keepalived/check/check_parser.c
  keepalived/include/check_data.h
Labels: keepalived, check, include

check: switch between primary and failover pools on health threshold
  keepalived/check/check_api.c
  keepalived/check/check_daemon.c
  keepalived/check/check_file.c
  keepalived/check/check_misc.c
  keepalived/check/ipvswrapper.c
  keepalived/check/ipwrapper.c
  keepalived/include/ipwrapper.h
Labels: keepalived, check, include

check: document the virtual server failover pool
  doc/man/man5/keepalived.conf.5.in
  doc/samples/keepalived.conf.failover_pool
Labels: documentation, man, man5, samples

test: add failover pool state machine and config tests
  test/.gitignore
  test/Makefile
  test/failover-config-test.sh
  test/failover-netns-test.sh
  test/failover-pool-test-plan.md
  test/failover_pool_test.c
Labels: tests

fix: prevent segmentation fault in ipvs_group_sync_entry by checking s_svr before accessing alive
  keepalived/check/ipvswrapper.c
Labels: keepalived, check

Fix compilation errors when building with --enable-one-process-debug
  keepalived/core/main.c
  keepalived/core/pidfile.c
  keepalived/vrrp/vrrp_daemon.c
Labels: keepalived, core, vrrp

IPVS: implement bindto and bind_if for PING_CHECK
  keepalived/check/check_ping.c
Labels: keepalived, check

IPVS: Implement bind_if checker support for UDP sockets
  keepalived/core/layer4.c
Labels: keepalived, core

IPVS: add SSL_GET checker sni_name option
  doc/man/man5/keepalived.conf.5.in
  keepalived/check/check_http.c
  keepalived/check/check_ssl.c
  keepalived/include/check_http.h
Labels: documentation, man, man5, keepalived, check, include

Stop duplicate writing of symlink config
  keepalived/core/global_data.c
Labels: keepalived, core

Add option for setting supplementary groups for scripts
  doc/man/man5/keepalived.conf.5.in
  keepalived/bfd/bfd_daemon.c
  keepalived/check/check_daemon.c
  keepalived/check/check_data.c
  keepalived/check/check_misc.c
  keepalived/core/Makefile.am
  keepalived/core/global_data.c
  keepalived/core/global_parser.c
  keepalived/core/main.c
  keepalived/core/notify.c
  keepalived/include/global_data.h
  keepalived/include/notify.h
  keepalived/vrrp/vrrp.c
  keepalived/vrrp/vrrp_daemon.c
  keepalived/vrrp/vrrp_data.c
  keepalived/vrrp/vrrp_parser.c
  lib/Makefile.am
  lib/parser.c
Labels: documentation, man, man5, keepalived, bfd, check, core, include, vrrp, lib

scheduler: point at RLIMIT_MEMLOCK when a child exits after a failed allocation
  lib/scheduler.c
Labels: lib

process: report the memlock limit when locking a process in memory
  lib/process.c
Labels: lib

doc: note the RLIMIT_MEMLOCK requirement of the no_swap options
  doc/man/man5/keepalived.conf.5.in
  www/docs/documentation/keepalived-conf.md
Labels: documentation, man, man5

lib: resolve some potential sprintf() buffer overflows
  keepalived/core/config_notify.c
  lib/Makefile.am
  lib/parser.c
  lib/safe_snprintf.c
  lib/safe_snprintf.h
Labels: keepalived, core, lib

all: further sprintf()/snprintf() improvements
  keepalived/check/check_misc.c
  keepalived/check/check_ping.c
  keepalived/check/ipvswrapper.c
  keepalived/check/ipwrapper.c
  keepalived/core/global_data.c
  keepalived/core/main.c
  keepalived/core/track_process.c
  keepalived/vrrp/vrrp_notify.c
  lib/Makefile.am
  lib/decimal_chars.h
  lib/memory.c
  lib/parser.c
  lib/process.h
  lib/rttables.c
  lib/safe_snprintf.c
  lib/safe_snprintf.h
  lib/scheduler.c
  lib/utils.c
Labels: keepalived, check, core, vrrp, lib

lib: resolve buffer use after free
  lib/memory.c
Labels: lib

lib: fix compilation failure due to removing PAD_MAX_DIGITS
  lib/utils.c
Labels: lib

lib: fix va_start()/va_end() calls in safe_snprintf()
  lib/safe_snprintf.c
Labels: lib

lib: don't log buffer to small in safe_snprintf if none passed
  lib/safe_snprintf.c
Labels: lib

vrrp: Tidy up "Make JSON create atomic" patch
  keepalived/vrrp/vrrp_json.c
Labels: keepalived, vrrp

lib: check TMPDIR environment variable is a directory
  lib/utils.c
Labels: lib

vrrp: synchronize iptables updates with the xtables lock
  configure.ac
  keepalived/vrrp/vrrp_iptables.c
Labels: repository, keepalived, vrrp

process: fold the memlock report into set_process_dont_swap
  lib/process.c
Labels: lib

vrrp: set NLA_F_NESTED when seding nested attributes to the kernel
  keepalived/vrrp/vrrp_if_config.c
Labels: keepalived, vrrp

vrrp: don't try logging error messages with fprintf()
  keepalived/core/keepalived_netlink.c
Labels: keepalived, core

vrrp: make interface name in calls to netlink_interface_lookup const
  keepalived/core/keepalived_netlink.c
  keepalived/include/keepalived_netlink.h
Labels: keepalived, core, include

vrrp: use correct flag in calls to if_get_by_ifname()
  keepalived/vrrp/vrrp_parser.c
Labels: keepalived, vrrp

.github/labeler.yml:

repository:
  - ./*

github:
  - .github/*
  - .github/**/*

bin:
  - bin/*

bin_install:
  - bin_install/*

documentation:
  - doc/*
  - doc/**/*
  - doc/**/**/*
  - doc/**/**/**/*

man:
   - doc/man/**/*

man1:
  - doc/man/man1/*

man5:
  - doc/man/man5/*

man1:
  - doc/man/man8/*

samples:
  - doc/samples/*

source:
  - doc/source/*
  - doc/source/**/**

docker:
  - docker/*

goodies:
  - goodies/*

keepalived:
  - keepalived/*
  - keepalived/**/*

bfd:
  - keepalived/bfd/*

check:
  - keepalived/check/*

core:
  - keepalived/core/*

dbus:
  - keepalived/dbus/*

include:
  - keepalived/include/*

trackers:
  - keepalived/trackers/*

vrrp:
  - keepalived/vrrp/*

lib:
  - lib/*

m4:
  - m4/*

snap-tools:
  - snap-tools/*

snap:
  - snap/*
  - snap/**/*

hooks:
  - snap/hooks/*

tests:
  - test/*
  - test/**/*

ci:
  - test/ci/*

tools:
  - tools/*
  - tools/**/*

jason_tracking:
  - tools/json_tracking/*
