Repository acassen/keepalived, changes with the labels that .github/labeler.yml gives for each.
All labels: repository, github, bin, bin_install, documentation, man, man1, man5, samples, source, docker, goodies, keepalived, bfd, check, core, dbus, include, trackers, vrrp, lib, m4, snap-tools, snap, hooks, tests, ci, tools, jason_tracking

.github/labeler.yml:

repository:
  - ./*

github:
  - .github/*
  - .github/**/*

bin:
  - bin/*

bin_install:
  - bin_install/*

documentation:
  - doc/*
  - doc/**/*
  - doc/**/**/*
  - doc/**/**/**/*

man:
   - doc/man/**/*

man1:
  - doc/man/man1/*

man5:
  - doc/man/man5/*

man1:
  - doc/man/man8/*

samples:
  - doc/samples/*

source:
  - doc/source/*
  - doc/source/**/**

docker:
  - docker/*

goodies:
  - goodies/*

keepalived:
  - keepalived/*
  - keepalived/**/*

bfd:
  - keepalived/bfd/*

check:
  - keepalived/check/*

core:
  - keepalived/core/*

dbus:
  - keepalived/dbus/*

include:
  - keepalived/include/*

trackers:
  - keepalived/trackers/*

vrrp:
  - keepalived/vrrp/*

lib:
  - lib/*

m4:
  - m4/*

snap-tools:
  - snap-tools/*

snap:
  - snap/*
  - snap/**/*

hooks:
  - snap/hooks/*

tests:
  - test/*
  - test/**/*

ci:
  - test/ci/*

tools:
  - tools/*
  - tools/**/*

jason_tracking:
  - tools/json_tracking/*

build: Fix type in --enable-reproducible-build commit
  configure.ac
  keepalived/Makefile.am
  keepalived/core/main.c
  lib/scheduler.c
Labels: repository, keepalived, core, lib

github: Add a built test with --enable-reproducible-build
  .github/workflows/build.yml
Labels: github

global: Allow display names in email addresses
  doc/man/man5/keepalived.conf.5.in
  keepalived/core/global_data.c
  keepalived/core/global_parser.c
  keepalived/core/smtp.c
  keepalived/core/snmp.c
  keepalived/include/global_data.h
  keepalived/include/smtp.h
Labels: documentation, man, man5, keepalived, core, include

ipvs: add set and alive status for sorry servers in keepalived_check.data
  keepalived/check/check_data.c
Labels: keepalived, check

ipvs: Fixes for add/remove sorry server for groups commit
  keepalived/check/ipvswrapper.c
Labels: keepalived, check

ipvs: Reinstate non-failed real servers if remove sorry server
  keepalived/check/ipwrapper.c
Labels: keepalived, check

ipvs: don't remove sorry server if inhibit added but server is alive
  keepalived/check/ipwrapper.c
Labels: keepalived, check

ipvs: Further changes for keeping inhibited alive sorry server
  keepalived/check/ipwrapper.c
Labels: keepalived, check

ipvs: if inhibit is changed on a failed real server, add/remove it
  keepalived/check/ipvswrapper.c
  keepalived/check/ipwrapper.c
Labels: keepalived, check

ipvs: If inhibit is added to inactive sorry server set weight 0
  keepalived/check/ipvswrapper.c
Labels: keepalived, check

ipvs: if inhibit cleared for inactive sorry server, clear s_svr->set
  keepalived/check/ipwrapper.c
Labels: keepalived, check

doc: state that inhibit on a sorry server is probable not wanted
  doc/man/man5/keepalived.conf.5.in
Labels: documentation, man, man5

Update keepalived.conf.5.in
  doc/man/man5/keepalived.conf.5.in
Labels: documentation, man, man5

build: fix building with VRRP disabled
  keepalived/core/keepalived_netlink.c
Labels: keepalived, core

build: don't check or include some kernel headers if inappropriate for build
  configure.ac
  keepalived/core/keepalived_netlink.c
  keepalived/core/layer4.c
Labels: repository, keepalived, core

netlink: fix vmac deletion issue due to race condition
  keepalived/core/keepalived_netlink.c
Labels: keepalived, core

netlink: add endif descriptions in netlink_if_link_populate()
  keepalived/core/keepalived_netlink.c
Labels: keepalived, core

vrrp: fix vmac creation issue due to race condition
  keepalived/core/keepalived_netlink.c
  keepalived/include/vrrp_if.h
  keepalived/vrrp/vrrp_if.c
Labels: keepalived, core, include, vrrp

vrrp: For use_vmac and use_ipvlan, copy the group from the base interface
  keepalived/vrrp/vrrp_vmac.c
Labels: keepalived, vrrp

Add build requirement of linux-headers for Alpine build
  INSTALL
Labels: repository

vrrp: Use addattr32() for setting link group
  keepalived/vrrp/vrrp_vmac.c
Labels: keepalived, vrrp

vrrp: Set link group for ipvlan interfaces, just like for VMACs
  keepalived/vrrp/vrrp_vmac.c
Labels: keepalived, vrrp

vrrp: Fix specifying netlink_notify_msg for VMAC when name set
  keepalived/vrrp/vrrp_data.c
  keepalived/vrrp/vrrp_parser.c
Labels: keepalived, vrrp

vrrp: Addd name option for use_vmac and use_ipvlan
  doc/man/man5/keepalived.conf.5.in
  keepalived/vrrp/vrrp_parser.c
Labels: documentation, man, man5, keepalived, vrrp

vrrp: Add interface group option for VMACs and ipvlans.
  doc/man/man5/keepalived.conf.5.in
  keepalived/include/vrrp.h
  keepalived/vrrp/vrrp_data.c
  keepalived/vrrp/vrrp_parser.c
  keepalived/vrrp/vrrp_vmac.c
  lib/rttables.c
  lib/rttables.h
Labels: documentation, man, man5, keepalived, include, vrrp, lib

core: make startup/shutdown scripts work when not using --dont-fork
  keepalived/core/main.c
Labels: keepalived, core

vrrp: fix global skip_check_adv_addr and strict_mode parsing
  doc/man/man5/keepalived.conf.5.in
  keepalived/core/global_parser.c
Labels: documentation, man, man5, keepalived, core

all: add global keyword use_symlink_paths
  doc/KEEPALIVED-MIB.txt
  doc/man/man5/keepalived.conf.5.in
  keepalived/check/check_data.c
  keepalived/check/check_misc.c
  keepalived/check/check_snmp.c
  keepalived/core/global_data.c
  keepalived/core/global_parser.c
  keepalived/include/global_data.h
  keepalived/vrrp/vrrp_data.c
  keepalived/vrrp/vrrp_scheduler.c
  keepalived/vrrp/vrrp_snmp.c
  lib/notify.c
  lib/notify.h
Labels: documentation, man, man5, keepalived, check, core, include, vrrp, lib

Fix lack macro for find_rttables_group()
  keepalived/vrrp/vrrp_parser.c
  lib/rttables.c
  lib/rttables.h
Labels: keepalived, vrrp, lib

vrrp: fix commit "fix lack macro for find_rttables_group()"
  lib/rttables.c
  lib/rttables.h
Labels: lib

vrrp: correct some parameter/return types
  configure.ac
  keepalived/vrrp/vrrp.c
  keepalived/vrrp/vrrp_if.c
  lib/parser.c
Labels: repository, keepalived, vrrp, lib

all: fix clean_path()
  lib/notify.c
Labels: lib

core: initialise script structure in start_validate_reload_conf_child()
  keepalived/core/main.c
  lib/notify.c
Labels: keepalived, core, lib

ipvs: Add snmp_vs_stats_update_interval for updating SNMP stats
  doc/man/man5/keepalived.conf.5.in
  keepalived/check/check_data.c
  keepalived/check/ipvswrapper.c
  keepalived/core/global_data.c
  keepalived/core/global_parser.c
  keepalived/include/check_data.h
  keepalived/include/global_data.h
  keepalived/include/ipvswrapper.h
  lib/utils.c
  lib/utils.h
Labels: documentation, man, man5, keepalived, check, core, include, lib

ipvs: Don't call calloc() in ipvs_get_service()
  keepalived/check/libipvs.c
Labels: keepalived, check

ipvs: Make ipvs_get_dests() use individual parameters
  keepalived/check/ipvswrapper.c
  keepalived/check/libipvs.c
  keepalived/include/libipvs.h
Labels: keepalived, check, include

ipvs: rs_cnt is only used when using SNMP
  keepalived/check/check_data.c
  keepalived/check/check_parser.c
  keepalived/include/check_data.h
Labels: keepalived, check, include

ipvs: optimise setting tsvc in ipvs_get_service()
  keepalived/check/libipvs.c
Labels: keepalived, check

configure: add comment re when IPVS netlink support started
  configure.ac
Labels: repository

ipvs: Add snmp_rs_stats_update_interval
  doc/man/man5/keepalived.conf.5.in
  keepalived/check/check_snmp.c
  keepalived/check/ipvswrapper.c
  keepalived/check/libipvs.c
  keepalived/core/global_data.c
  keepalived/core/global_parser.c
  keepalived/include/check_data.h
  keepalived/include/global_data.h
  keepalived/include/ip_vs.h
  keepalived/include/ipvswrapper.h
Labels: documentation, man, man5, keepalived, check, core, include
