Repository acassen/keepalived, changes with the labels that .github/labeler.yml gives for each.
All labels: repository, github, bin, bin_install, documentation, man, man1, man5, samples, source, docker, goodies, keepalived, bfd, check, core, dbus, include, trackers, vrrp, lib, m4, snap-tools, snap, hooks, tests, ci, tools, jason_tracking

.github/labeler.yml:

repository:
  - ./*

github:
  - .github/*
  - .github/**/*

bin:
  - bin/*

bin_install:
  - bin_install/*

documentation:
  - doc/*
  - doc/**/*
  - doc/**/**/*
  - doc/**/**/**/*

man:
   - doc/man/**/*

man1:
  - doc/man/man1/*

man5:
  - doc/man/man5/*

man1:
  - doc/man/man8/*

samples:
  - doc/samples/*

source:
  - doc/source/*
  - doc/source/**/**

docker:
  - docker/*

goodies:
  - goodies/*

keepalived:
  - keepalived/*
  - keepalived/**/*

bfd:
  - keepalived/bfd/*

check:
  - keepalived/check/*

core:
  - keepalived/core/*

dbus:
  - keepalived/dbus/*

include:
  - keepalived/include/*

trackers:
  - keepalived/trackers/*

vrrp:
  - keepalived/vrrp/*

lib:
  - lib/*

m4:
  - m4/*

snap-tools:
  - snap-tools/*

snap:
  - snap/*
  - snap/**/*

hooks:
  - snap/hooks/*

tests:
  - test/*
  - test/**/*

ci:
  - test/ci/*

tools:
  - tools/*
  - tools/**/*

jason_tracking:
  - tools/json_tracking/*

configure: fix CFLAGS if -Wformat-signedness is not supported by gcc
  configure.ac
Labels: repository

core: Allow building on very old systems with kernels < 3.15
  configure.ac
  keepalived/core/pidfile.c
Labels: repository, keepalived, core

doc: add oldest distro versions with their EOL dates and kernel versions
  README.kernel_versions
Labels: repository

doc: Add Oracle Linux to README.kernel_versions
  README.kernel_versions
Labels: repository

configure: Don't use <<<, busybox doesn't support it
  configure.ac
Labels: repository

vrrp: Don't include <linux/if_ether.h> if not needed
  keepalived/vrrp/vrrp.c
Labels: keepalived, vrrp

doc: Add Oracle Linux ver 8 to README.kernel_versions
  README.kernel_versions
Labels: repository

Install linux-headers pkg to build in Docker
  Dockerfile.in
Labels: repository

INSTALL: update documentation for Alpine Linux
  INSTALL
Labels: repository

vrrp: fix reading of iproute2 conf files when directories don't exist
  lib/rttables.c
Labels: lib

vrrp: handle checking ip utility version properly with BusyBox
  doc/man/man5/keepalived.conf.5.in
  doc/man/man8/keepalived.8.in
  keepalived/bfd/bfd_data.c
  keepalived/check/check_print.c
  keepalived/core/global_data.c
  keepalived/core/global_parser.c
  keepalived/core/main.c
  keepalived/include/global_data.h
  keepalived/vrrp/vrrp_print.c
  lib/rttables.c
Labels: documentation, man, man1, man5, keepalived, bfd, check, core, include, vrrp, lib

vrrp: fix segfault when instance has no interface configured
  keepalived/vrrp/vrrp_data.c
Labels: keepalived, vrrp

vrrp: Don't segfault if open_sockpool_socket() fails to open sockets
  keepalived/vrrp/vrrp.c
Labels: keepalived, vrrp

vrrp: don't allow unicast instance without interface to have a VMAC
  keepalived/vrrp/vrrp.c
Labels: keepalived, vrrp

vrrp: test for _HAVE_VRRP_VMAC_ before using VRRP_VMAC_BIT
  keepalived/vrrp/vrrp.c
Labels: keepalived, vrrp

vrrp: Add setting IP_FREEBIND/IPV6_FREEBIND socket option
  configure.ac
  keepalived/vrrp/vrrp.c
Labels: repository, keepalived, vrrp

parser: Fix error handling for HEX_STR parsing in UDP_CHECK
  lib/parser.c
Labels: lib

lib: used defined values or read_hex_str special characters
  lib/parser.c
Labels: lib

snap-tools: use sh as interpreter; misc tweaks
  snap-tools/keepalived-wrapper
Labels: snap-tools

goodies: use bash mapfile and array to store found C files
  goodies/check_conditional_tests
Labels: goodies

snap: enable riscv64 building
  snap/snapcraft.yaml
Labels: snap

vrrp: interface add should call setup_interface()
  keepalived/vrrp/vrrp_if.c
Labels: keepalived, vrrp

vrrp: check specific flags in vrrp-flags
  keepalived/vrrp/vrrp_if.c
Labels: keepalived, vrrp

build: Stop _FORTITY_SOURCE redefined warnings on Ubuntu >= 24.04
  configure.ac
Labels: repository

build: use -D_FORTIFY_SOURCE rather than -Wp,-D_FORTIFY_SOURCE
  configure.ac
Labels: repository

build: make default _FORTIFY_SOURCE setting 3
  configure.ac
Labels: repository

ipvs: Fix segfault when using track_file checker
  keepalived/check/check_file.c
Labels: keepalived, check

debug: add some missing function names for debugging
  keepalived/check/check_daemon.c
  keepalived/core/main.c
Labels: keepalived, check, core

ipvs: fix delay_loop for TCP_CHECK
  keepalived/check/check_tcp.c
Labels: keepalived, check

doc: use timer_expired_backup in place of thread_timer_expired
  doc/man/man5/keepalived.conf.5.in
Labels: documentation, man, man5

snap: Update kernel versions and attempt to force riscv64 builds
  snap-tools/keepalived-wrapper
  snap/snapcraft.yaml
Labels: snap-tools, snap

snap: update libsnmp35 to libsnmp40 in snapcraft.yaml
  snap/snapcraft.yaml
Labels: snap

snap: further attempt to build on all available platforms
  snap/snapcraft.yaml
Labels: snap

snap: further attempts to get launchpad to work
  snap/snapcraft.yaml
Labels: snap

vrrp: resolve compilation error caused by commit to resolve vrrp->flags use
  keepalived/vrrp/vrrp_if.c
Labels: keepalived, vrrp

snap: yet more attempts to get launchpad to work
  snap/snapcraft.yaml
Labels: snap

snap: Correct the craftctl set version syntax
  snap/snapcraft.yaml
Labels: snap

snap: Fetch the linux-libc-dev.deb files into different files
  snap/snapcraft.yaml
Labels: snap

snap: fix an error in snapcraft.yaml
  snap/snapcraft.yaml
Labels: snap

snap: fix typo
  snap/snapcraft.yaml
Labels: snap
