Repository acassen/keepalived, changes with the labels that .github/labeler.yml gives for each.
All labels: repository, github, bin, bin_install, documentation, man, man1, man5, samples, source, docker, goodies, keepalived, bfd, check, core, dbus, include, trackers, vrrp, lib, m4, snap-tools, snap, hooks, tests, ci, tools, jason_tracking

lib: Update comments re where list_head code is copied from
  lib/list_head.c
  lib/list_head.h
Labels: lib

systemd: Change NotifyAccess to be main rather than all for non-root
  keepalived/keepalived-non-root.service.in
Labels: keepalived

systemd Add KEEPALIVED_OPTION for non-root service file
  keepalived/keepalived-non-root.service.in
Labels: keepalived

systemd: Fix typo in non-root service file
  keepalived/keepalived-non-root.service.in
Labels: keepalived

systemd: Add comment in non-root service file for old systemds
  keepalived/keepalived-non-root.service.in
Labels: keepalived

systemd: Fix snmp option in non-root service file
  keepalived/Makefile.am
  keepalived/keepalived-non-root.service.in
Labels: keepalived

vrrp: Stop link local VMAC address responging to neighbour solicit
  doc/man/man5/keepalived.conf.5.in
  keepalived/core/global_data.c
  keepalived/core/global_parser.c
  keepalived/core/keepalived_netlink.c
  keepalived/include/global_data.h
  keepalived/include/vrrp_ipset.h
  keepalived/vrrp/vrrp_ipset.c
  keepalived/vrrp/vrrp_iptables.c
  keepalived/vrrp/vrrp_nftables.c
Labels: documentation, man, man5, keepalived, core, include, vrrp

vrrp: Fix building with --disable-vmac
  keepalived/core/global_parser.c
  keepalived/vrrp/vrrp_nftables.c
Labels: keepalived, core, vrrp

vrrp: Clarify documentation for "weight" in track_process
  doc/man/man5/keepalived.conf.5.in
Labels: documentation, man, man5

doc: update description for v3_checksum_as_v2
  doc/man/man5/keepalived.conf.5.in
Labels: documentation, man, man5

lib: Stop setting MAGIC_PRESERVE_ATIME flag
  lib/keepalived_magic.h
Labels: lib

vrrp: Remove extraneous log message for netlink interface message
  keepalived/core/keepalived_netlink.c
Labels: keepalived, core

vrrp: Allow DBus to work with VRRP instances without configured interface
  keepalived/vrrp/vrrp_dbus.c
Labels: keepalived, vrrp

vrrp: Allow specification of string used by DBus for no interface
  doc/man/man5/keepalived.conf.5.in
  keepalived/core/global_data.c
  keepalived/core/global_parser.c
  keepalived/include/global_data.h
  keepalived/include/vrrp_dbus.h
  keepalived/vrrp/vrrp_dbus.c
Labels: documentation, man, man5, keepalived, core, include, vrrp

vrrp: work around missing promiscuous netlink notifications
  doc/man/man5/keepalived.conf.5.in
  keepalived/core/keepalived_netlink.c
  keepalived/include/vrrp.h
  keepalived/include/vrrp_if.h
  keepalived/vrrp/vrrp_data.c
  keepalived/vrrp/vrrp_if.c
  keepalived/vrrp/vrrp_parser.c
  keepalived/vrrp/vrrp_vmac.c
Labels: documentation, man, man5, keepalived, core, include, vrrp

vrrp: fix build failure from previous commit
  keepalived/vrrp/vrrp_if.c
Labels: keepalived, vrrp

config: Add "accept" to sample configuration
  keepalived/etc/keepalived/keepalived.conf.sample.in
Labels: keepalived

ipvs: fix issue in reload process when using virtual server groups
  keepalived/check/ipvswrapper.c
Labels: keepalived, check

vrrp: check prefix length when checking if deleted address is a VIP
  keepalived/core/keepalived_netlink.c
Labels: keepalived, core

core: fix config-check log file truncate on /dev/null etc
  keepalived/core/main.c
Labels: keepalived, core

vrrp: Set sysctl arp_ignore to 1 on IPv6 VMACs
  keepalived/include/vrrp_if_config.h
  keepalived/vrrp/vrrp_if_config.c
  keepalived/vrrp/vrrp_vmac.c
Labels: keepalived, include, vrrp

test: enhance mk_if scripts for resolving issue 2350
  test/mk_if
Labels: tests

vrrp: Go to fault state if fail to add IPv6 link-local address to VMAC
  keepalived/vrrp/vrrp.c
  keepalived/vrrp/vrrp_vmac.c
Labels: keepalived, vrrp

vrrp: Don't send IPv6 advert from interface with no address
  keepalived/core/keepalived_netlink.c
  keepalived/vrrp/vrrp.c
Labels: keepalived, core, vrrp

add commit to debian package
  cloudwan-build.sh
Labels: repository

Create FUNDING.yml
  .github/FUNDING.yml
Labels: github

Update README.md
  README.md
Labels: repository

ipvs: add/remove sorry server of group server when reload
  keepalived/check/ipvswrapper.c
Labels: keepalived, check

lvs: if lost misc check child register checker agagin
  keepalived/check/check_misc.c
Labels: keepalived, check

check: if lost misc check child register checker agagin
  keepalived/check/check_misc.c
Labels: keepalived, check

vrrp: Check interface for static routes if deleted
  keepalived/core/keepalived_netlink.c
Labels: keepalived, core

tcp_server: add option to use stdin/out
  test/tcp_server.c
Labels: tests

test: add script ncat_test.sh for SSL_GET checker testing
  keepalived/check/check_data.c
  keepalived/check/ipvswrapper.c
  keepalived/check/ipwrapper.c
  keepalived/include/check_api.h
  keepalived/include/check_data.h
  test/ncat_resp.sh
Labels: keepalived, check, include, tests

Revert "test: add script ncat_test.sh for SSL_GET checker testing"
  keepalived/check/check_data.c
  keepalived/check/ipvswrapper.c
  keepalived/check/ipwrapper.c
  keepalived/include/check_api.h
  keepalived/include/check_data.h
  test/ncat_resp.sh
Labels: keepalived, check, include, tests

test: add script ncat_test.sh for SSL_GET checker testing
  test/ncat_resp.sh
Labels: tests

ipvs: don't call protocol_to_index() unless using auto fwmarks
  keepalived/check/check_data.c
  keepalived/check/ipvswrapper.c
  keepalived/check/ipwrapper.c
  keepalived/include/check_api.h
  keepalived/include/check_data.h
Labels: keepalived, check, include

doc: Use @...dir@ rather than $(...dir) in makefiles
  doc/Makefile.am
Labels: documentation

configure: ${prefix} defaults to NONE which messes up DEFAULT_CONFIG_FILE
  configure.ac
Labels: repository

configure: fix commit 42a746c
  configure.ac
Labels: repository

build: Add configure option --enable-reproducable-build
  configure.ac
  keepalived/.gitignore
  keepalived/Makefile.am
  keepalived/core/main.c
  keepalived/keepalived.config-opts.in
  lib/scheduler.c
  lib/scheduler.h
Labels: repository, keepalived, core, lib

.github/labeler.yml:

repository:
  - ./*

github:
  - .github/*
  - .github/**/*

bin:
  - bin/*

bin_install:
  - bin_install/*

documentation:
  - doc/*
  - doc/**/*
  - doc/**/**/*
  - doc/**/**/**/*

man:
   - doc/man/**/*

man1:
  - doc/man/man1/*

man5:
  - doc/man/man5/*

man1:
  - doc/man/man8/*

samples:
  - doc/samples/*

source:
  - doc/source/*
  - doc/source/**/**

docker:
  - docker/*

goodies:
  - goodies/*

keepalived:
  - keepalived/*
  - keepalived/**/*

bfd:
  - keepalived/bfd/*

check:
  - keepalived/check/*

core:
  - keepalived/core/*

dbus:
  - keepalived/dbus/*

include:
  - keepalived/include/*

trackers:
  - keepalived/trackers/*

vrrp:
  - keepalived/vrrp/*

lib:
  - lib/*

m4:
  - m4/*

snap-tools:
  - snap-tools/*

snap:
  - snap/*
  - snap/**/*

hooks:
  - snap/hooks/*

tests:
  - test/*
  - test/**/*

ci:
  - test/ci/*

tools:
  - tools/*
  - tools/**/*

jason_tracking:
  - tools/json_tracking/*
