Repository acassen/keepalived, changes with the labels that .github/labeler.yml gives for each.
All labels: repository, github, bin, bin_install, documentation, man, man1, man5, samples, source, docker, goodies, keepalived, bfd, check, core, dbus, include, trackers, vrrp, lib, m4, snap-tools, snap, hooks, tests, ci, tools, jason_tracking

all: add code to calculate maximum stack usage and use it for no_swap
  configure.ac
  keepalived/bfd/bfd_daemon.c
  keepalived/check/check_daemon.c
  keepalived/core/main.c
  keepalived/vrrp/vrrp_daemon.c
  lib/utils.c
  lib/utils.h
  lib/warnings.h
Labels: repository, keepalived, bfd, check, core, vrrp, lib

all: fix some compile errors due to *_STACK_SIZE being undefined
  lib/utils.h
Labels: lib

vrrp: resolve CodeQL security warning re insecure file creation
  lib/rttables.c
Labels: lib

lib: remove unused variable following previous commit
  lib/rttables.c
Labels: lib

all: s/independant/independent
  keepalived/bfd/bfd_daemon.c
  keepalived/check/check_daemon.c
  keepalived/vrrp/vrrp.c
  keepalived/vrrp/vrrp_daemon.c
  lib/parser.c
Labels: keepalived, bfd, check, vrrp, lib

all: set CLOEXEC flag on all file descriptors except stdin/stdout/stderr
  keepalived/bfd/bfd_scheduler.c
  keepalived/check/check_ping.c
  keepalived/core/main.c
  keepalived/core/namespaces.c
  keepalived/core/nftables.c
  keepalived/core/track_process.c
  keepalived/trackers/track_file.c
  keepalived/vrrp/vrrp_daemon.c
  keepalived/vrrp/vrrp_dbus.c
  keepalived/vrrp/vrrp_if_config.c
  lib/parser.c
  lib/signals.c
  lib/systemd.c
  lib/utils.c
Labels: keepalived, bfd, check, core, trackers, vrrp, lib

all: set CLOEXEC flag on streams (fopen/popen)
  keepalived/check/libipvs.c
  keepalived/core/config_notify.c
  keepalived/core/global_data.c
  keepalived/core/main.c
  keepalived/core/nftables.c
  keepalived/core/reload_monitor.c
  keepalived/core/smtp.c
  keepalived/trackers/track_file.c
  keepalived/vrrp/vrrp_firewall.c
  keepalived/vrrp/vrrp_ipset.c
  keepalived/vrrp/vrrp_json.c
  keepalived/vrrp/vrrp_print.c
  keepalived/vrrp/vrrp_scheduler.c
  lib/logger.c
  lib/memory.c
  lib/parser.c
  lib/rttables.c
  lib/utils.c
Labels: keepalived, check, core, trackers, vrrp, lib

snmp: set CLOEXEC on file descriptors opened by snmp
  keepalived/core/snmp.c
  lib/utils.c
  lib/utils.h
Labels: keepalived, core, lib

snmp: use close_range() if available for closing snmp file descriptors
  README.kernel_versions
  configure.ac
  keepalived/core/snmp.c
  lib/utils.c
  lib/utils.h
Labels: repository, keepalived, core, lib

lib: call close_range() if available before exec'ing scripts
  lib/notify.c
Labels: lib

lib: don't check for dup3 support - it has been around a long time
  configure.ac
  lib/parser.c
Labels: repository, lib

lib: fix fopen_safe after adding "e" mode flag support
  lib/utils.c
Labels: lib

core: correct some conditional compilation tests for close_range()
  keepalived/core/snmp.c
Labels: keepalived, core

Fix build error when HAVE_CLOSE_RANGE not defined
  lib/notify.c
Labels: lib

all: fix use of some conditional compilation definitions
  configure.ac
  keepalived/core/snmp.c
  keepalived/include/vrrp_if.h
  lib/utils.c
  lib/utils.h
Labels: repository, keepalived, core, include, lib

all: fix some RHEL 7 and friends compilation problems
  configure.ac
  keepalived/core/nftables.c
  keepalived/core/snmp.c
  keepalived/vrrp/vrrp.c
Labels: repository, keepalived, core, vrrp

track_file: fix memory leak
  keepalived/trackers/track_file.c
Labels: keepalived, trackers

all: fix conditional compilation when close_range() is not available
  configure.ac
  keepalived/core/snmp.c
  lib/notify.c
  lib/utils.c
  lib/utils.h
Labels: repository, keepalived, core, lib

all: next attempt to fix building snaps without close_range()
  configure.ac
Labels: repository

snap: try and identify why snap builds are failing
  snap/snapcraft.yaml
Labels: snap

snap: further attempt to fix close_range problem with Linux 5.8
  snap/snapcraft.yaml
Labels: snap

snap: attempt 5 to fix close_range() snap build with Linux 5.8
  snap/snapcraft.yaml
Labels: snap

snap: attempt 6 to fix close_range() snap build with Linux 5.8
  snap/snapcraft.yaml
Labels: snap

snap: snap: attempt 7 to fix close_range() snap build with Linux 5.8
  configure.ac
  snap/snapcraft.yaml
Labels: repository, snap

snap: snap: attempt 8 to fix close_range() snap build with Linux 5.8
  configure.ac
Labels: repository

Revert "snap: snap: attempt 8 to fix close_range() snap build with Linux 5.8"
  configure.ac
Labels: repository

Revert "snap: snap: attempt 7 to fix close_range() snap build with Linux 5.8"
  configure.ac
  snap/snapcraft.yaml
Labels: repository, snap

Revert "snap: attempt 6 to fix close_range() snap build with Linux 5.8"
  snap/snapcraft.yaml
Labels: snap

Revert "snap: attempt 5 to fix close_range() snap build with Linux 5.8"
  snap/snapcraft.yaml
Labels: snap

Revert "snap: further attempt to fix close_range problem with Linux 5.8"
  snap/snapcraft.yaml
Labels: snap

Revert "snap: try and identify why snap builds are failing"
  snap/snapcraft.yaml
Labels: snap

Revert "all: next attempt to fix building snaps without close_range()"
  configure.ac
Labels: repository

Revert "all: fix conditional compilation when close_range() is not available"
  configure.ac
  keepalived/core/snmp.c
  lib/notify.c
  lib/utils.c
  lib/utils.h
Labels: repository, keepalived, core, lib

all: fix conditional compilation when close_range() is not available
  keepalived/core/snmp.c
  lib/notify.c
  lib/utils.c
  lib/utils.h
Labels: keepalived, core, lib

snap: fix snap builds when close_range not available
  configure.ac
  lib/utils.c
  lib/utils.h
Labels: repository, lib

keepalived-2.3.4
  configure.ac
Labels: repository

vrrp: remove redundant check not NULL check
  keepalived/vrrp/vrrp_iptables.c
Labels: keepalived, vrrp

Fix address sanitizer error in find_definition
  lib/parser.c
Labels: lib

Fixed UB sanitizer error in check_definition
  lib/parser.c
Labels: lib

Fix UB sanitizer error in add_seq
  lib/parser.c
Labels: lib

.github/labeler.yml:

repository:
  - ./*

github:
  - .github/*
  - .github/**/*

bin:
  - bin/*

bin_install:
  - bin_install/*

documentation:
  - doc/*
  - doc/**/*
  - doc/**/**/*
  - doc/**/**/**/*

man:
   - doc/man/**/*

man1:
  - doc/man/man1/*

man5:
  - doc/man/man5/*

man1:
  - doc/man/man8/*

samples:
  - doc/samples/*

source:
  - doc/source/*
  - doc/source/**/**

docker:
  - docker/*

goodies:
  - goodies/*

keepalived:
  - keepalived/*
  - keepalived/**/*

bfd:
  - keepalived/bfd/*

check:
  - keepalived/check/*

core:
  - keepalived/core/*

dbus:
  - keepalived/dbus/*

include:
  - keepalived/include/*

trackers:
  - keepalived/trackers/*

vrrp:
  - keepalived/vrrp/*

lib:
  - lib/*

m4:
  - m4/*

snap-tools:
  - snap-tools/*

snap:
  - snap/*
  - snap/**/*

hooks:
  - snap/hooks/*

tests:
  - test/*
  - test/**/*

ci:
  - test/ci/*

tools:
  - tools/*
  - tools/**/*

jason_tracking:
  - tools/json_tracking/*
