Repository acassen/keepalived, changes with the labels that .github/labeler.yml gives for each.
All labels: repository, github, bin, bin_install, documentation, man, man1, man5, samples, source, docker, goodies, keepalived, bfd, check, core, dbus, include, trackers, vrrp, lib, m4, snap-tools, snap, hooks, tests, ci, tools, jason_tracking

Three cosmetic code layout corrections
  keepalived/check/libipvs.c
  keepalived/vrrp/vrrp_if_config.c
Labels: keepalived, check, vrrp

vrrp: fix parsing static/virtual rules with inet and int6 keywords
  keepalived/vrrp/vrrp_iprule.c
Labels: keepalived, vrrp

vrrp: check EVP return values when computing authentication digests
  keepalived/include/vrrp_ipsecah.h
  keepalived/vrrp/vrrp.c
  keepalived/vrrp/vrrp_auth_hmac.c
  keepalived/vrrp/vrrp_ipsecah.c
Labels: keepalived, include, vrrp

rttables: check the popen return before reading from it
  lib/rttables.c
Labels: lib

github: bump checkout action to v7
  .github/workflows/build.yml
  .github/workflows/codeql.yml
Labels: github

.github/labeler.yml:

repository:
  - ./*

github:
  - .github/*
  - .github/**/*

bin:
  - bin/*

bin_install:
  - bin_install/*

documentation:
  - doc/*
  - doc/**/*
  - doc/**/**/*
  - doc/**/**/**/*

man:
   - doc/man/**/*

man1:
  - doc/man/man1/*

man5:
  - doc/man/man5/*

man1:
  - doc/man/man8/*

samples:
  - doc/samples/*

source:
  - doc/source/*
  - doc/source/**/**

docker:
  - docker/*

goodies:
  - goodies/*

keepalived:
  - keepalived/*
  - keepalived/**/*

bfd:
  - keepalived/bfd/*

check:
  - keepalived/check/*

core:
  - keepalived/core/*

dbus:
  - keepalived/dbus/*

include:
  - keepalived/include/*

trackers:
  - keepalived/trackers/*

vrrp:
  - keepalived/vrrp/*

lib:
  - lib/*

m4:
  - m4/*

snap-tools:
  - snap-tools/*

snap:
  - snap/*
  - snap/**/*

hooks:
  - snap/hooks/*

tests:
  - test/*
  - test/**/*

ci:
  - test/ci/*

tools:
  - tools/*
  - tools/**/*

jason_tracking:
  - tools/json_tracking/*
