Repository acassen/keepalived, changes with the labels that .github/labeler.yml gives for each.
All labels: repository, github, bin, bin_install, documentation, man, man1, man5, samples, source, docker, goodies, keepalived, bfd, check, core, dbus, include, trackers, vrrp, lib, m4, snap-tools, snap, hooks, tests, ci, tools, jason_tracking

config: Actually properly fix coverity warning
  keepalived/core/global_data.c
Labels: keepalived, core

keepalived-2.2.6
  configure.ac
Labels: repository

snap: Fix detecting git commit version when a release version
  snap/snapcraft.yaml
Labels: snap

keepalived-2.2.7
  configure.ac
Labels: repository

test: Update mk_if script to work when nothing default network namespace
  test/mk_if
Labels: tests

RPM: update spec file to install /etc/keepalived/keepalived.conf.sample
  keepalived.spec.in
Labels: repository

RPM: RedHat has kmod-lib and kmod-devel rather than libkmod and libkmod-devel
  keepalived.spec.in
Labels: repository

doc: quick fix in installation doc
  doc/source/installing_keepalived.rst
Labels: documentation, source

doc: update pre-requisites installation
  doc/source/installing_keepalived.rst
Labels: documentation, source

vrrp: nft didn't support meta l4proro until Linux 3.14
  README.kernel_versions
  configure.ac
  keepalived/vrrp/vrrp_nftables.c
Labels: repository, keepalived, vrrp

ipvs: nft didn't support meta l4proro until Linux 3.14
  keepalived/check/check_nftables.c
Labels: keepalived, check

vrrp: Don't adjust vrrp receive timeout during delayed start
  keepalived/vrrp/vrrp_daemon.c
  keepalived/vrrp/vrrp_scheduler.c
Labels: keepalived, vrrp

vrrp: Add support for Infiniband over IPv6
  keepalived/include/vrrp_arp.h
  keepalived/vrrp/vrrp_arp.c
  keepalived/vrrp/vrrp_ndisc.c
Labels: keepalived, include, vrrp

snap: DBus: Add DBus connector support for snaps
  snap/snapcraft.yaml
Labels: snap

doc: Update keepalived.conf(5) man page re scrips and vrrp track groups
  doc/man/man5/keepalived.conf.5.in
Labels: documentation, man, man5

Revert "snap: DBus: Add DBus connector support for snaps"
  snap/snapcraft.yaml
Labels: snap

build: fix order of -lssl -lcrypto
  configure.ac
Labels: repository

Add package commit to deb package description
  cloudwan-build.sh
Labels: repository

fix script
  cloudwan-build.sh
Labels: repository

push checker merge feature
  keepalived/check/check_api.c
  keepalived/check/check_daemon.c
  keepalived/check/check_data.c
  keepalived/check/check_parser.c
  keepalived/check/ipwrapper.c
  keepalived/include/check_api.h
  keepalived/include/check_data.h
Labels: keepalived, check, include

add checker merge feature
  keepalived/check/check_api.c
  keepalived/check/check_daemon.c
  keepalived/check/check_data.c
  keepalived/check/check_parser.c
  keepalived/check/ipwrapper.c
  keepalived/include/check_api.h
  keepalived/include/check_data.h
Labels: keepalived, check, include

fix build with libressl
  configure.ac
  keepalived/check/check_ssl.c
Labels: repository, keepalived, check

Register_signal_handler_address for thread_dump_signal if enabled
  keepalived/bfd/bfd_daemon.c
  keepalived/check/check_daemon.c
  keepalived/vrrp/vrrp_daemon.c
Labels: keepalived, bfd, check, vrrp

vrrp: Resolve segfault when enable_snmp_vrrp is added at a reload
  keepalived/core/snmp.c
  keepalived/include/vrrp_snmp.h
  keepalived/vrrp/vrrp_daemon.c
  keepalived/vrrp/vrrp_snmp.c
Labels: keepalived, core, include, vrrp

vrrp: remove redundant checks of snmp_option
  keepalived/vrrp/vrrp_daemon.c
Labels: keepalived, vrrp

configure: add systemd auto option
  configure.ac
Labels: repository

configure: fix default config file with ${prefix} use
  configure.ac
Labels: repository

configure: use back-ticks rather than $(...) for commmands
  configure.ac
Labels: repository

Fix out of tree builds
  configure.ac
  doc/man/man1/Makefile.am
  doc/man/man5/Makefile.am
  doc/man/man8/Makefile.am
  keepalived/Makefile.am
  keepalived/etc/init.d/Makefile.am
  keepalived/etc/init/Makefile.am
  keepalived/etc/sysconfig/Makefile.am
Labels: repository, documentation, man, man1, man5, keepalived

configure: improve checking for ${prefix}
  configure.ac
Labels: repository

config parser: Fix segfault caused by extra '}' and other parser fixes
  configure.ac
  keepalived/bfd/bfd_data.c
  keepalived/bfd/bfd_parser.c
  keepalived/check/check_api.c
  keepalived/check/check_bfd.c
  keepalived/check/check_data.c
  keepalived/check/check_dns.c
  keepalived/check/check_file.c
  keepalived/check/check_http.c
  keepalived/check/check_misc.c
  keepalived/check/check_parser.c
  keepalived/check/check_ping.c
  keepalived/check/check_smtp.c
  keepalived/check/check_tcp.c
  keepalived/check/check_udp.c
  keepalived/core/global_parser.c
  keepalived/include/bfd_data.h
  keepalived/include/check_api.h
  keepalived/include/check_data.h
  keepalived/include/check_parser.h
  keepalived/include/vrrp_data.h
  keepalived/include/vrrp_ip_rule_route_parser.h
  keepalived/include/vrrp_ipaddress.h
  keepalived/include/vrrp_parser.h
  keepalived/include/vrrp_track.h
  keepalived/trackers/track_file.c
  keepalived/vrrp/vrrp_data.c
  keepalived/vrrp/vrrp_ip_rule_route_parser.c
  keepalived/vrrp/vrrp_ipaddress.c
  keepalived/vrrp/vrrp_iproute.c
  keepalived/vrrp/vrrp_parser.c
  keepalived/vrrp/vrrp_track.c
  lib/parser.c
  lib/parser.h
  lib/warnings.h
Labels: repository, keepalived, bfd, check, core, include, trackers, vrrp, lib

vrrp: Fix build error with --disable-track-process
  keepalived/vrrp/vrrp_parser.c
Labels: keepalived, vrrp

Update required packages in doc/souce/installing_keepalived.rst
  doc/source/installing_keepalived.rst
Labels: documentation, source

Document the repos needed on RHEL and CentOS
  doc/source/installing_keepalived.rst
Labels: documentation, source

Check for both SSL_set0_rbio and SSL_set0_wbio
  configure.ac
  keepalived/check/check_ssl.c
Labels: repository, keepalived, check

man: Correct sense of vrrp_strict check for first IPv6 VIP
  doc/man/man5/keepalived.conf.5.in
Labels: documentation, man, man5

snap: Use kernel 3.13 instead of 3.10 for old kernels
  snap-tools/keepalived-wrapper
  snap/snapcraft.yaml
Labels: snap-tools, snap

chore: Set permissions for GitHub actions
  .github/workflows/build.yml
Labels: github

Fix segfault when receive netlink message for static default route added
  keepalived/core/keepalived_netlink.c
Labels: keepalived, core

test: update tcp_server and add tcp_client
  test/.gitignore
  test/tcp_client.c
  test/tcp_server.c
Labels: tests

.github/labeler.yml:

repository:
  - ./*

github:
  - .github/*
  - .github/**/*

bin:
  - bin/*

bin_install:
  - bin_install/*

documentation:
  - doc/*
  - doc/**/*
  - doc/**/**/*
  - doc/**/**/**/*

man:
   - doc/man/**/*

man1:
  - doc/man/man1/*

man5:
  - doc/man/man5/*

man1:
  - doc/man/man8/*

samples:
  - doc/samples/*

source:
  - doc/source/*
  - doc/source/**/**

docker:
  - docker/*

goodies:
  - goodies/*

keepalived:
  - keepalived/*
  - keepalived/**/*

bfd:
  - keepalived/bfd/*

check:
  - keepalived/check/*

core:
  - keepalived/core/*

dbus:
  - keepalived/dbus/*

include:
  - keepalived/include/*

trackers:
  - keepalived/trackers/*

vrrp:
  - keepalived/vrrp/*

lib:
  - lib/*

m4:
  - m4/*

snap-tools:
  - snap-tools/*

snap:
  - snap/*
  - snap/**/*

hooks:
  - snap/hooks/*

tests:
  - test/*
  - test/**/*

ci:
  - test/ci/*

tools:
  - tools/*
  - tools/**/*

jason_tracking:
  - tools/json_tracking/*
